[2017-04-22 21:48] TingPing commented on #260
@vinszent libsoup has async APIs, why would you be using threads manually at all?

[2017-04-22 23:31] vinszent commented on #260
@TingPing I do [use](https://github.com/vinszent/gnome-twitch/blob/master/src/gt-resource-downloader.c#L438) libsoup's async functions. The reason I use threads is for caching, as I only download the headers and check whether the image actually needs to be downloaded or not. That however puts me back on the main thread and I need to do the downloading in a separate thread.

I know libsoup has a bu

[2017-04-23 21:06] vinszent commented on #265
There are two solutions that I think could work. One is to have a mapping, like:

* High -> 720p60 ->720p30
* Medium -> 540p30 -> 480p30
* Low -> 360p30 -> 240p30
* Mobile -> 144p30

The other is to have a text field where you can write the default quality, for example `720p60`.

The second option is more generic and will work when Twitch adds more quality options (2160p, 4K, etc).

[2017-04-23 21:24] #251 closed

[2017-04-23 22:55] ptkato commented on #265
The second option is nice, but how will it choose between mobile or 144p30, for example?

[2017-04-23 23:11] vinszent commented on #265
So the second option is the text field. It will try to always select the option you have typed in, otherwise it will select the combo box option.

So in your example, let's say you type in 144p30 and have selected mobile in the combo box, it will then select 144p30 if it's available, otherwise it will default to mobile.

Basically it would look something like in the picture, and it will always try

[2017-04-24 17:35] ptkato commented on #245
I believe it's related to #137 at some extent.

[2017-04-26 19:21] #239 closed

[2017-04-26 19:21] #250 closed

[2017-04-26 19:21] vinszent commented on #239
@cra0zy Can you check whether it's been fixed now?

[2017-04-26 19:53] vinszent opened #266 "Translations for 0.4.1"
@pfent @hmsintrepide @piotrdrag @Generator @kostich @riflex @Generator @Sunderland93 @CyberStar1 @kordianbruck @radek-sprta

Time for another release with new translations! Hopefully it shouldn't be too much but to make things easier I've setup a Zanata project [here](https://translate.zanata.org/project/view/gnome-twitch/master) and imported all existing translations (including the Spanish one @E

[2017-04-26 20:05] kostich commented on #266
I'm not able to translate on Zanata. The Serbian language is read-only for me. My username on Zanata is kostic.

[2017-04-26 20:18] vinszent commented on #266
@kostich Ok thanks for notifying me, I've added you! Seems like I need to add translators to the project, so anybody that is planning on using Zanata just comment with your username and language, and I'll add you. I think there should be something like a "join project team" somewhere though...?

[2017-04-26 20:18] cra0zy commented on #239
You probably want @Eijebong to check, I am using GNOME.

[2017-04-26 20:21] vinszent commented on #239
Ah my bad, @Eijebong could you please check if it has been fixed?

[2017-04-26 20:21] Eijebong commented on #239
When I get home yeah ^^

[2017-04-26 20:24] AlejandroC90 commented on #266
Add alejandroc90 to the Spanish translation

[2017-04-26 20:26] vinszent commented on #266
@AlejandroC90 Done!

[2017-04-26 20:33] CyberStar1 commented on #266
cyber_star for the dutch translation! :)

[2017-04-26 20:36] vinszent commented on #266
@CyberStar1 Done as well!

[2017-04-26 21:58] Generator commented on #266
Portuguese translation updated

[2017-04-26 22:11] vinszent commented on #266
@Generator Awesome, thanks a lot!

[2017-04-26 23:12] Eijebong commented on #239
Yeah; it's better, you can still see it if you keep your cursor on the header bar while getting back from full screen but it disappears almost immediately.

[2017-04-26 23:17] vinszent commented on #239
@Eijebong Ok good, I can probably tweak that later, I just need to turn the animation off when going from fullscreen.

[2017-04-27 09:15] pfent commented on #266
`pfent` for the german :de: translation

[2017-04-27 13:19] Sunderland93 commented on #266
sunderland93 for the russian translation

[2017-04-27 14:13] vinszent commented on #266
@pfent @Sunderland93 Done and done, much appreciated!

[2017-04-27 15:11] Sunderland93 commented on #266
Russian translation updated

[2017-04-27 15:41] kostich commented on #266
`
%s started streaming %s

#88; Refs: src/gt-follows-manager.c:85`

What is the context of this string? I guess it's $PLAYER started streaming $GAME. Can you add a comment to it describing the context? :)

[2017-04-27 15:49] vinszent commented on #266
@kostich Ah sorry, but yes you are correct. The first `%s` is the steamer's username and the second `%s` is the game. I'll add a comment like you said.

[2017-04-27 15:51] kostich commented on #266
@vinszent, excellent. Context helps us a lot.

Serbian is 100% finished.

[2017-04-27 16:14] pfent commented on #266
German translation should be finished. Keep up your great work @vinszent !

[2017-04-27 17:32] vinszent commented on #266
@kostich @pfent Thanks for your help!

[2017-04-27 18:29] CyberStar1 commented on #266
Dutch translation is finished! @vinszent

[2017-04-27 18:38] vinszent commented on #266
@CyberStar1 Awesome! Thanks for your help as well 😄

[2017-04-28 01:44] Techwolf commented on #261
I figure it out. When a channel goes offline, it take twitch several minutes to update the follows. Repro is watch a channel till it goes offline, go to the follows window and it should be clickable as to play, click it and crash.

[2017-04-28 11:30] vinszent commented on #261
@Techwolf Ah ok now I understand. This should have been fixed however by #251 I believe.

[2017-04-29 09:41] adrianjav commented on #266
Hi! These days I'm quite busy and I haven't kept tracked of this project. Despite of that I'm fine checking Alejandro's translation if need it.
Maybe we should try to make a neutral Spanish translation or split it up into Latin and Spain Spanish. I'm from Spain so I could do that part.

[2017-04-29 22:50] ptkato commented on #265
I've been thinking, wouldn't it be better for the user if the stream just plays in the quality selected in a previous session? Something like what YouTube does, if you select 720p, it gets kept for every other video that has that quality available, you don't need to select a default in a settings window.

[2017-04-29 23:39] julianrichen commented on #265
@vinszent  Maybe `GtkComboBoxText` would be better because you can provide examples of proper inputs. Some users may not know the format Twitch uses for stream quality.

[2017-04-30 02:08] ptkato commented on #265
@julianrichen, you already can change the quality while watching.

[2017-04-30 22:56] lbaile200 opened #269 "Unless stream quality is set to 'source' video does not play"
Ubuntu 16.04
If I change the stream quality from a playing video from 'source' to any other setting the stream will freeze on the last played video frame, audio will continue playing.  If i set the default stream quality in the app to any setting other than 'source' streams will play audio but never load video, showing only a black screen.

Terminal output below:
`:~$ gnome-twitch
[22:51:53] GNOME

[2017-04-30 23:01] vinszent commented on #269
What version are you running?

[2017-04-30 23:04] vinszent commented on #265
@ptkato @julianrichen It's possible, it's just annoying because Twitch always adds in new qualities and there is no standard. For example if you go into a stream and choose 720p60 and then go into another stream that has the usual Source, High, Medium, etc, what quality should GT choose?

I have a few solutions in mind that I can experiment with, thanks for the feedback, I'll keep you updated.

[2017-05-01 03:45] ptkato opened #270 "Thumbnails never load"
The tumbnails never load:

![image](https://cloud.githubusercontent.com/assets/10677806/25571577/7e7245d8-2e07-11e7-922f-d9331252a2b0.png)

The same happens in the followed tab, with the exception of some loading only the default offline thumbnail.

Sometimes only a few load fine:

![image](https://cloud.githubusercontent.com/assets/10677806/25571534/0f447532-2e07-11e7-8a3b-a1ca077566f8.png)

Don'

[2017-05-01 09:46] radek-sprta commented on #266
rsprta@czech :]

[2017-05-01 12:49] vinszent commented on #270
If there are no errors being shown, then it's probably a problem upstream like your internet connection or with Twitch itself. Could be that the Twitch servers in your area are under high load and therefore not serving up the images fast enough.

I'll be adding a timeout for 0.5.0 so they don't load indefinitely and will show you a timeout error or something.

[2017-05-01 12:52] vinszent commented on #266
@radek-sprta I've added you now!

[2017-05-01 16:10] lbaile200 commented on #269
The version found in this repo:
https://launchpad.net/~samoilov-lex/+archive/ubuntu/gnome-twitch
0.2.0.1 it looks like

On Sun, Apr 30, 2017 at 7:01 PM, Vincent <notifications@github.com> wrote:

[2017-05-01 16:40] vinszent commented on #269
Yeah that's quite an old version and Twitch has made quite a few changes in their API since then. I reccommend using [this](https://launchpad.net/%7Enilarimogard/+archive/ubuntu/webupd8/+index?batch=75&direction=backwards&memo=150&start=75) PPA has it has the latest version of GT for Ubuntu.

[2017-05-01 17:13] ptkato commented on #270
`then it's probably a problem upstream like your internet connection or with Twitch itself. Could be that the Twitch servers in your area are under high load and therefore not serving up the images fast enough.`

That's odd, because the streams play fine.

[2017-05-01 17:16] vinszent commented on #270
The Twitch website and their streams are run from different servers so just because the stream plays fine doesn't mean the API will load fast.

However I do see this occurr on some rare occassions myself, but generally if I then go onto the website, it also loads really slowly or not at all.

[2017-05-02 00:00] ptkato commented on #270
I can see that, the thing is, it's happening for a few days now.

[2017-05-02 13:07] vinszent commented on #270
No, the "lag" in #260 was because I was doing lengthy operations on the UI thread i.e. it would lag then.
You can try running it from the command line and see if anything interesting is printed out, but I doubt it.
Also when it doesn't load, try loading the Twitch website itself and see if it's also slow.

[2017-05-03 03:03] ptkato commented on #270
Twitch website loads fine. I asked about #260 because it started to happen more or less after 44cfb7d.

When a few load, they load almost instantly. And no, I took a look at the debug outbut and nothing interesting seems to be there.

[2017-05-03 13:10] vinszent commented on #270
Hmm, I'll try see if I can find something but it's pretty hard as there are no errors and I can't really replicate it.

[2017-05-04 12:52] davidv171 opened #271 "How do you log in?"
Is it supposed to be obvious and from the GUI? I can't see the option anywhere. There's only like 2 buttons so I dont know how I would've missed it.

GNOME 17.04

[2017-05-04 15:13] julianrichen commented on #271
In the app menu.

Maybe a first launch login prompt would be good ux.

[2017-05-04 16:42] riflex commented on #266
@vinszent I'm sorry, but can't finish up the Hungarian translation until next Wednesday, finals are coming :(

[2017-05-04 22:16] Techwolf commented on #260
Wow... https://github.com/vinszent/gnome-twitch/commit/44cfb7daa68e83b512a36fda05c6125218ad59e8 made a huge difference on my system. It now comes up nearly instantly and no longer freezes loading a bunch of thumbnails.

[2017-05-05 08:49] vinszent commented on #266
@riflex No problem, take your time and just send a PR when you're ready.

[2017-05-05 08:57] vinszent commented on #271
@davidv171 If you're using GNOME Shell it will be in the top bar of the window manager (where it says 'GNOME Twitch'). If you're not it will be in the top bar of the actual application (there will be a small GT icon to the left).

@julianrichen Possibly, I'm not all that good with UI/UX so I just follow the GNOME way of doing things. I guess a 'startup wizard', like you said, could be shown on the

[2017-05-05 08:59] vinszent commented on #260
@Techwolf Glad to hear 😄 . Unfortunately I don't have a lot of time to do thorough testing and these issues do slip through.

[2017-05-05 17:27] ptkato commented on #265
Maybe a list could be kept somewhere and store the 10 last qualities chosen by the user and select the first available of them.

[2017-05-06 18:38] mecjuszfufecjusz opened #272 "Possible memory leak"
I noticed that GT becomes a resource hog after a while, after few hours of watching/listening to streams (various channels, changing quality etc.) memory usage stands at 1453 MB. Fresh run and firing up a favourite channel uses ~165 MB. This is a regular behaviour.

GT version 0.4.0, Ubuntu 16.10 via webupd8.org PPA.

[2017-05-07 20:03] patraanjan23 opened #273 "Is there a specific reason for setting gtk+-3.0 >= 3.20?"
I just wanted to build it with linux mint 18.1 (ubuntu 16.04 base) which has 3.18 of gtk+-3.0 kit. I changed the meson.build requirement to match 3.18 and built the package successfully. It's working fine. I just wanted to if the project uses any specific 3.20 feature?

[2017-05-08 20:42] Nibbler999 opened #274 "Random segfaults during playback"
[code]

Using 7974dd0 on Fedora 26 with mpv backend.

[2017-05-08 22:27] vinszent commented on #274
I'm currently rewriting parts of the code to fix this. Turns out one of the libraries I'm using, isn't as thread safe as it claims to be. Thanks for the report.

[2017-05-08 22:27] vinszent commented on #273
I can't remember exactly, but I think it had to do with some new CSS rules/styling that had been introduced in 3.20.

[2017-05-08 22:30] vinszent commented on #272
I've been investigating this for a while and I'm pretty sure it's not from my code. From my own experiments it seems like the leak comes from the player backends. It's worse with higher resolution streams, i.e. source. Unfortunately the easiest thing to do, is to just restart GT until I can find a way to mitigate it.

[2017-05-08 22:53] dengelt commented on #272
I ran `gnome-twitch` with valgrind for a very short while and just browsed some menus (no player backend loaded), and these are the 10 biggest memory leaks according to valgrind:

[code]

A lot of the stuff seems to be from libraries like gtk or pango or glib, but there's also some code from gnome-twitch there.

Unfortunately I didn't have the patience to run it in valgrind for a long time or play

[2017-05-08 23:13] vinszent commented on #272
@dengelt Yes I've used Valgrind to do leak checking as well. Although there are leaks from my own code, they are pretty minor and aren't the cause of the leak that @mecjuszfufecjusz is talking about.

[2017-05-08 23:27] TingPing commented on #272
There is a valgrind file in glib (i believe it is installed) to ignore false positives and a few exist for gtk too.

[2017-05-09 00:45] mecjuszfufecjusz commented on #272
I’ll just add that behaviour described by me was happening on Cairo backend, but I will try others as well.

[2017-05-09 09:20] patraanjan23 commented on #273
Alright. I checked the gnome 3.20 release notes. It indeed is related to
gtk css theming.

The reason I opened this issue is because a lot of users are using ubuntu
16.04 LTS based distribution, which probably does not come with 3.20. they
are stuck with the 0.2.x version of gnome-twitch, which is very old and
bugged. So there are 2 options now, if the ppa maintainer changed the
meson.build to req

[2017-05-09 09:30] jangernert commented on #273
You can use the flatpak on Ubuntu 16.04 without any problems ;)
The required Gtk+ version will be provided by the gnome-runtime. The only possible downside I can think of right now is: flaptaks currently ignore the gtk theme and default to adwaita.

[2017-05-09 14:23] TingPing commented on #273
Themes should be solved in Flatpak relatively soon at least.

[2017-05-09 17:27] jangernert commented on #273
@TingPing any idea how that will be solved? A separate theme for each runtime? Newer Gtk+ versions won't support themes on the host-system of a Ubuntu 16.04 installation with Gtk+ 3.18.

[2017-05-09 17:45] TingPing commented on #273
@jangernert There is an extension point for Gtk themes now and they will have to be packaged. Pulling in from the host won't happen because as you say it requires specific versions that they probably don't have anyway *and* some toolkits (Qt) still have binary themes.

[2017-05-10 19:53] LiamDawe commented on #271
A login page when you first load would probably help this, or one that appears each time if you're not logged in with the option of "don't show me again".

[2017-05-10 19:54] vinszent commented on #266
Thanks a lot guys for your hard work! Hopefully it was a lot easier to use Zanata and it should make future translation efforts a breeze.

@riflex @radek-sprta I'll merge in your translations when you're ready and create a new minor release, so no need to stress 😄 .

[2017-05-10 19:54] #266 closed

[2017-05-10 20:07] vinszent commented on #271
@LiamDawe Seems reasonable.

[2017-05-11 01:29] h1z1 commented on #273
Welcome to the mess that is Ubuntu.. *sigh*  Fap-pak doesn't solve anything.   There are very few (which ?) distros that ship with GTK3.5

[2017-05-11 01:32] TingPing commented on #273
I'm not sure if that was supposed to be a joke but yes Flatpak solves it as it will have the latest Gtk bundled. Also most distributions are more up to date than Ubuntu LTS and have 3.20 by now.

@jangernert By the way I packaged some themes today including `org.gtk.Gtk3theme.Ambiance` in [flathub](https://flathub.org) for Ubuntu.

[2017-05-11 09:26] h1z1 commented on #273
Entirely for another forum, not entirely sure you understand what it is?   I wasn't kidding about the comment though.  Thick binaries hide a lot of implementation details.   What libs are used, licenses, etc.   You're quite welcome to limit your application to it.

I commented in this because GTK prevented me from using your app.  CentOS 7.

[2017-05-11 11:09] jangernert commented on #273
So everything should be written in C using Motif to ensure it works on ancient operating systems?
And by the way, flatpak does solve exactly this problem. There are experimental flatpak builds for RHEL 7
https://copr.fedorainfracloud.org/coprs/amigadave/flatpak-epel7/
With them you should be able to install the required gnome-runtime and gnome-twitch no problem.
The gnome-runtime will not interfer

[2017-05-11 19:05] h1z1 commented on #273
CentOS 7 is ancient?   Interesting.    If SunOS was still maintained Solaris wouldn't have happened either.    I guess yes?  GTK3 would be properly installed in a system wide directory like /opt not buried.  Funny thing about UNIX and backward compatibility.

Regarding the EPEL build, given the target of RHEL/CentOS is stability over bleeding edge, anyone installing experimental code in it is insa

[2017-05-11 19:38] TingPing commented on #273
In consumer software, yes. For a desktop application developer, yes.

If you go in expecting very old software then that is fine. Your issue is you want to use the latest software on it.

Yes it has a few dependencies, CentOS 7 has most of them. If you want to be taken seriously I would suggest acting like an adult and not calling projects childish names.

[2017-05-11 22:02] Lonsfor opened #276 "Unable to fetch Twitch follows"
Can't get streams from the followers tab and gives this error in terminal
`
[20:36:57] Warning - GNOME-Twitch : {GtTwitch:2192} Unable to fetch all followed channels with id '[id]' and oauth token '[token]' because: A followed stream did not exist as a followed channel`
`
[20:36:57] Warning - GNOME-Twitch : {GtFollowsManager:479} Unable to fetch Twitch follows because: Unable to fetch all followed

[2017-05-12 10:56] mecjuszfufecjusz opened #277 "Strange crash while changing volume (?)"
So I just ran GT, opened an observed channel, it ran for a minute or so, then I decided to watch something on YouTube before the match that the streamer was waiting for starts. I wanted to bring down the volume, so I can wait with the stream in the background. I clicked on the volume button and when I attempted to move the volume slider, GT crashed. I cannot be sure that this resulted from changin

[2017-05-12 14:21] Haggus commented on #276
I've been having the same issue for a while now. Using gnome-twitch from AUR.

[2017-05-12 16:29] vinszent commented on #276
Can I ask how many follows you guys have?

Basically the error is saying that it's found a followed stream that doesn't exist as a followed channel which is weird. It could be a logic error in my code but the Twitch API can be pretty crap as well.

[2017-05-12 16:31] vinszent commented on #277
This is an error in GTK+ that I think has to do with it trying to draw the volume popup over the Cairo rendered player which it trips up on. Not sure how much I can do from my side but I'll have a look.

[2017-05-12 17:37] Haggus commented on #276
I don't see any way to list all followed channels in twitch settings

[2017-05-12 17:40] vinszent commented on #276
@Haggus Ok but would you say it's more than 100?

[2017-05-12 17:42] Lonsfor commented on #276
I follow 162 channels.

[2017-05-12 17:43] Lonsfor commented on #276
@Haggus followed channels are in twitch.tv/[name]/following

[2017-05-12 17:49] Haggus commented on #276
@vinszent @Lonsfor In that case I've got 295 :)

[2017-05-12 17:53] vinszent commented on #276
Got it, I think I've localised the problem to https://github.com/vinszent/gnome-twitch/blob/master/src/gt-twitch.c#L2173 where I do some special handling when you have more than 100 follows to be able to retrieve them all. I myself don't have more than 100 follows so that's why I haven't noticed this before but I'll get my test account to do further troubleshooting.

[2017-05-12 22:36] h1z1 commented on #273
Thankfully that is not a shared opinion.

Guess that depends what you're considering very old and your understanding of release management.

What?  Interesting selective use of quoting.   The comment was in response to @jangernert above:

I'm not entirely sure what it is you're even claiming let alone responding to.    His comment was regarding C and Motif - two standards.  I never stated older ve

[2017-05-13 18:21] tiendongpro9x11 commented on #113
try: sudo apt-get dist-upgrade

[2017-05-15 16:58] o0Niki0o commented on #207
Same here

LOG:

[code]

[2017-05-15 17:14] vinszent commented on #207
@o0Niki0o You are most likely running an old version of GT, please install the latest version. If you are using Ubuntu, install from the [Webupd8 PPA](https://launchpad.net/%7Enilarimogard/+archive/ubuntu/webupd8/+index?batch=75&direction=backwards&memo=150&start=75)

[2017-05-17 12:30] vinszent commented on #270
@ptkato Actually I think I might've found the problem. Does this mainly happen when GT has been running for a while? Like more than 30 minutes?

[2017-05-17 16:19] ptkato commented on #270
@vinszent, no it happens all the time, even if I just opened it, but who knows, the cause can be what you've found.

[2017-05-25 08:28] maticahacic opened #279 "Link URLs color is barely readable in dark theme chat"
Would it be posible to add feature to change link color from dark blue to something else, cause I'm having big problems to read URLs before clicking on it.  It's probably combination of dark blue background and default blue that get used.

Having different palete or user based paletes would be amazing (Chatty or Terminal style settings).

[2017-05-26 18:43] bil-elmoussaoui commented on #271
@vinszent Wouldn't be better to make use of goa and add a twitch plugin? which seems more reasonable as the application targets GNOME users

[2017-05-26 18:46] julianrichen commented on #271
@bil-elmoussaoui Would the GNOME GOA maintainers accept a patch for something as specific as Twitch? Or could the plugin be installed when you install GNOME Twitch? Never looked into it.

[2017-05-26 18:48] bil-elmoussaoui commented on #271
I think it's possible to compile your own plugins (that will be shown on the gnome settings). If it's possible, that would be great! And instead of showing the login window on the welcome page, you just let the user configure the account there...
+ The plugin can be used on the future by other devs to create something else

[2017-05-26 19:08] TingPing commented on #271
I think depending on GOA is a pretty poor idea, hurts portability for no real gain.

[2017-05-27 10:22] sagcan opened #281 "Change volumen by scrolling"
I'd like to suggest implementing the feature to scroll at the volume icon to change value of it. As an example, Rhythmbox supports this feature.

[2017-05-27 13:06] Eijebong commented on #281
Gnome twitch already does that I think

[2017-05-27 13:25] TingPing commented on #281
It is a built-in feature of GtkVolumeButton actually so yes it already works.

[2017-05-27 18:20] sagcan commented on #281
Oh shit, you guys are right. Last time I checked (on my Laptop) it didn't work but it does perfectly on my desktop. Might be something wrong with my touchpad then.

Anyways, I'll close the Issue. Thanks!

[2017-05-27 18:20] #281 closed

[2017-05-27 20:40] #276 closed

[2017-05-27 20:42] vinszent commented on #276
Ok hopefully this should be fixed now or at the very least be less frequent. The Twitch API is a pain to work with so that's why this fix might not be 100%. I'm in the process of rewriting a lot of this, but this should keep it together until then 👍 .

[2017-05-28 12:27] radek-sprta commented on #266
Sorry, I was a bit busy lately. Finished now!

[2017-05-29 05:20] Aeirex opened #282 "Can't Build on Fedora"
Meson encountered an error in file meson.build, line 58, column 0:
Native dependency 'libpeas-1.0' not found

Package libpeas-1.20.0-3.fc25.x86_64 is already installed, skipping.

[2017-05-29 05:57] ptkato commented on #279
It also "breaks" the link when a character like `-` is in it.

[2017-05-29 06:52] Aeirex opened #283 "RPM Package"
Instead of using RPMFusion, you can just use alien to convert a .deb package to .rpm and provide it as a download.  Using different Fedora builds is not really needed, you can just provide a generic RPM package after converting it from .deb.

I can provide the RPM packages for each release if you want me to.

[2017-05-29 07:02] TingPing commented on #283
That is a terrible solution, converting between formats doesn't rebuild anything (so its entirely broken in concept) and loses useful information like dependencies.

If people need a generic package they have Flatpak, otherwise you simply need distro specific solutions.

[2017-05-29 07:04] TingPing commented on #282
`libpeas-devel` is the package you want.

[2017-05-29 08:53] Aeirex commented on #283
@TingPing That's true, but I had to use it for SmartGit and worked fine.

[2017-05-29 08:54] Aeirex commented on #282
@TingPing Thanks, it built fine.

[2017-05-29 11:59] TingPing commented on #283
That is the problem with undefined behavior, it sometimes works. Every dependency has to exist and have the *exact same ABI* to work.

[2017-05-30 16:41] Haggus commented on #276
I can confirm the error is gone and I see my follows. However now it displays ALL follows, even the ones that are offline (unless that is what's supposed to happen). Thanks for fixing it 👍

[2017-06-01 01:56] taea00 opened #284 "Tab Complete"
Would it be possible to add tab completion for user names?  Since Twitch highlights on usernames, it's much easier to start a name and then just tab complete to make sure you have the proper name.

[2017-06-03 02:10] taea00 opened #285 "Feature Request: Time Stamps and History"
Would it be possible to implement a feature where you can turn on time stamps in the chat?  So you see each message time next to the message?

Also would it be possible to use the up key to display previous messages you've sent in chat?

[2017-06-04 18:13] vinszent commented on #266
@radek-sprta No problem, thanks for your contribution!

[2017-06-05 06:32] derpyderpaderp opened #286 "Follows not loading"
I am having an error that prevents me from seeing my followers
![22a7be16f7fcec7f5e8282470a4389ab](https://cloud.githubusercontent.com/assets/12119604/26773015/b051147e-498e-11e7-9913-bbb3c8baa221.png)
When I go to the followers tab it just sits at fetching channels and does nothing. It did this before but corrected itself but it stays that way now. Any help would be appreciated!

[2017-06-07 21:29] vinszent commented on #286
Is this related to #276 ?

[2017-06-10 20:20] kriman opened #288 "hungarian translation"
Hi @vinszent,
I would like to help with the translation, my username on zanata is kriman
I have already translated some string offline

[2017-06-11 10:00] vinszent commented on #288
@kriman Done, added you! Thanks for your help 😄 .

[2017-06-11 10:00] #288 closed

[2017-06-18 02:01] derpyderpaderp commented on #286
Yes. Same error.

[2017-06-18 02:10] derpyderpaderp commented on #276
I was still receiving this error until I was only following 100 people. Not that big of a deal but still weird.

[2017-06-18 02:14] derpyderpaderp commented on #286
Going to close it as It has already been detected as a bug.

[2017-06-18 02:14] #286 closed

[2017-06-20 19:38] drdaffey commented on #204
As a follow-up (I understand it's been a long while), today I had issues getting gnome-twitch to work from Debian's unstable repository. I got a black screen with all libraries installed.
Installing the gnome-twitch_0.4.1-1 and gnome-twitch-player-backend-gstreamer-cairo_0.4.1-1 packages from Debian's Experimental worked like a charm.

[2017-06-23 18:18] ptkato opened #290 "Streams freezing"
I'm watching fine, suddenly it freezes and I need to refresh, ok, the problem is that it's happening all the time. I tried to test with GStreamer Cairo and GStreamer OpenGL, both are affected. The chat stills fine, the only problem is the stream itself. I've been through all the quality options and no difference.

No output in debug too.

[2017-06-23 21:57] vinszent commented on #290
I recently started encountering this too and it has to be a problem in GStreamer. It might be this issue https://bugzilla.gnome.org/show_bug.cgi?id=783314 which was introduced recently.

[2017-06-23 22:22] ptkato commented on #290
Well, so I'll be using mpv as a workaround, then.

[2017-06-25 11:44] alexbrrsclnt opened #291 "Flatpak: error in login when checking the recaptcha checkbox"
System info:
Kubuntu 16.04.2
KDE Plasma 5.8.7
Flatkpak 0.9.6

When I start the program with flatpak, and try to login, when I click in the recaptcha checkbox, the login window freezes, I see this traces in terminal

[11:33:47] Message - GNOME-Twitch : {GtApp:370} Startup, running version 'r1057.5730b87'
[11:33:47] Message - GNOME-Twitch : {GtFollowsManager:254} Follows file at '/home/alex/.var/app

[2017-07-07 09:25] coreybruce opened #292 "Unable to load Top channel or games"
Here is the error I got and while I tried refreshing

corey@Corey-PC:~$ gnome-twitch
[09:22:26] (null) - Message : "{GtApp} Activate"
[09:22:27] (null) - Warning : "{GtTwitch} Error sending message to get top channels"
[09:22:27] (null) - Warning : "{GtTwitch} Error sending message to get top channels"
[09:23:11] (null) - Warning : "{GtTwitch} Error sending message to get top channels"
[09:23:12]

[2017-07-07 09:33] #292 closed

[2017-07-07 09:33] coreybruce commented on #292
Don't worry used a PPA with a outdated version

[2017-07-09 13:33] Hund commented on #270
I have the same issue.

[2017-07-09 21:21] vinszent commented on #270
It's due to the priority of followed channels, basically GT will load them first before other channels. However this leads to a bug when you have a lot of follows and it is constantly loading followed channels because they auto update.

Suffice to say I only discovered this recently (because I don't follow a lot of channels) but I'm working on a fix.

[2017-07-09 21:29] Hund commented on #270
I see, thanks. :) I know this is OT, but is it possible to add an option to completely hide offline channels? I'm really confused about which is online or not. The only things that's differentiating them is a tiny title.

[2017-07-09 22:06] vinszent commented on #270
Ah thanks for pointing that out. Seems like some of the GTK3 CSS styling rules have changed, the labels for offline channels should be a lot dimmer than online channels. I'll update the CSS rules.

[2017-07-12 00:38] slango20 opened #293 "Chat window background not drawing properly"
The chat menu background isn't being redrawn properly for me, ending up with eventually [this](https://user-images.githubusercontent.com/2634959/28096589-0b5fec90-6678-11e7-9807-5fa7b3a3fbf5.png) in high-traffic channels.

when I first open the stream, the background is whatever portion of the channel-select menu was underneath where it was drawn, like [so](https://user-images.githubusercontent.co

[2017-07-12 01:09] TingPing commented on #293
It is Gtk3 btw.

[2017-07-12 01:29] slango20 commented on #293
libgtk-3-0 version: 3.22.16-1

[2017-07-12 10:15] dengelt commented on #293
I think this is related to a change in some library gnome-twitch depends on, since I also experience this since the freeze ended and it is the same with 0.4.1. @slango20 gnome-twitch 0.4.1 is in experimental right now, so you can get it from there, but this will not fix the issue.

[code]

[2017-07-15 01:59] ptkato opened #294 "Show useful info about stream in UI"
![screenshot from 2017-07-14 22-56-18](https://user-images.githubusercontent.com/10677806/28235607-cc8089d6-68e7-11e7-956d-36b6e6403dfd.png)

I believe everything there could be shown somewhere in the stream, like a botton toggle or something like that. Kinda like it's in the Twitch website.

[2017-07-16 00:20] robotmaxtron commented on #223
@vinszent I'll take it on as a task to own the Fedora packaging for it.

[2017-07-16 00:29] TingPing commented on #223
I commented on it here #233 but a few months ago the build system would run because they didn't use UTF-8 on their builders.

[2017-07-16 00:48] dengelt commented on #223
Does Fedora support the C.UTF-8 locale? I had the same issue with my Debian builds, and setting `export LC_ALL=C.UTF-8` in the build script solved it. AFAIK, not all distributions have C.UTF-8 though.

[2017-07-16 01:15] robotmaxtron commented on #223
@dengelt Based on https://bugzilla.redhat.com/show_bug.cgi?id=902094 it appears like it.

[2017-07-16 03:43] TingPing commented on #223
Ok it built this time: https://copr.fedorainfracloud.org/coprs/tingping/gnome-twitch/

[2017-07-16 16:21] robotmaxtron commented on #223
@TingPing I got some errors when trying to install on a pretty fresh F26 install.

[code]
I've got gstreamer1-libav-1:1.12.1-1.fc26.x86_64 already installed as well.

[2017-07-16 16:43] TingPing commented on #223
@robotmaxtron Well that sounds like breakage on the end of those packages but I'm using RPMFusion on F26 and it resolves the dependencies just fine.

[2017-07-16 16:47] TingPing commented on #223
Pushed a fix for it trying to install 32bit lilbs though... (not sure why it does that).

[2017-07-16 16:56] robotmaxtron commented on #223
@TingPing the new build (https://copr.fedorainfracloud.org/coprs/tingping/gnome-twitch/build/580104/) works great. Thanks!

[2017-07-19 23:11] lucasdiedrich opened #295 "Fedora 26 Repo missing package"
There is no package available using the Fedora 26 repository:

[code]

[2017-07-19 23:20] TingPing commented on #295
Duplicate of #223

[2017-07-19 23:34] #295 closed

[2017-07-20 21:01] slango20 commented on #293
Can confirm the issue does not occur using gnome on wayland in the same setup; only with gnome on X11.

[2017-07-22 12:00] GalGR opened #296 "Problem Building on Ubuntu"
I know there's a similar thread on building in Fedora, but I'm still struggling to build.
Edit: gnome-twitch version 0.4.1
Here's the error:

Meson encountered an error in file meson.build, line 58, column 0:
Native dependency 'libpeas-1.0-0' not found

I have these libraries installed:

gir1.2-peas-1.0/zesty,now 1.20.0-1 amd64 [installed]
  Application plugin library (introspection files)

libpea

[2017-07-22 13:56] dengelt commented on #296
I think the dependency name should be 'libpeas-1.0'. What commit id do you build from exactly? What does your meson.build file contain at line 58?

In principle, `libpeas-dev` should be the right package for that dependency. Please run `pkg-config --print-provides libpeas-1.0` to check if pkg-config can find the dependency.

[2017-07-25 03:02] Schyken opened #297 "Channels, Favorites, Games, None Loading"
Heyo! I installed GNOME-Twitch via the PPA on Elementary OS 0.4.1 Loki, and when opening the app, nothing populates, text or images. I've tried switching themes to eliminate that cause, and nothing changes. Screenshot:
![image](https://user-images.githubusercontent.com/20944747/28553891-11e22c30-70ab-11e7-9919-26a587dd8564.png)

[2017-07-25 04:15] dengelt commented on #297
In version 0.4.1 the middle tab should be names "Follows" instead of "favourites". Please check which version of gnome-twitch you have installed by running `gnome-twitch --version` and `apt show gnome-twitch`.

[2017-07-25 04:25] Schyken commented on #297
Running this led me to an error. I got the PPA from the OMG! Ubuntu Article a while back, apparently it's unsupported now. Using the WebUpd8 PPA now. Apologies for taking your time.

[2017-07-25 07:29] vinszent commented on #294
Sure, it depends on what information I can get out from each player backend. I think with GStreamer it should definitely be possible but with MPV I have less control over it.

[2017-07-25 07:31] vinszent commented on #297
@Schyken Is it working now?

[2017-07-25 14:59] vinszent commented on #291
This seems to be some esoteric X11 error. In newer versions I'll add the ability to login via your normal web browser so you don't have to use the built-in WebKit browser.

[2017-07-27 18:52] vinszent commented on #290
Pretty sure this has been fixed now in `1.12.2` as I'm no longer seeing the freezes. Can you possibly confirm?

[2017-07-27 19:16] ptkato commented on #290
Can confirm. This is no longer a problem.

[2017-07-27 19:16] #290 closed

[2017-08-06 14:54] Lerentis opened #298 "Feature Request : Open twitch URL's in app"
Hey there.

i am usually getting my notifications of a stream via mail or twitter. it would be great to paste a twitch URL in the app and have gnome-twitch load the specified channel.

Keep up the good work (:

[2017-08-08 01:27] honeywave opened #299 "Chat isn't showing up when in stream"
I'm currently on 0.4.1, installed from the webupd8 repository. I'm currently on Xubuntu 17.04 64-bit. I have tried reinstalling it, purging it, and neither fixed the issue.
![screenshot_2017-08-07_21-27-02](https://user-images.githubusercontent.com/1066456/29052296-2bd7055e-7bb7-11e7-8999-f3d68fd3621a.png)

[2017-08-08 10:32] vinszent commented on #299
This is a bug and it's probably there, it's just it's only 1 pixel wide. If you move your cursor carefully to the right hand side of the window, you should get a double headed pointer to expand the chat.

[2017-08-08 23:17] honeywave commented on #299
Oh. Gotcha. Thanks!

[2017-08-08 23:18] #299 closed

[2017-08-09 18:19] BrokenVentilator opened #300 "No sound"
Using version r1042.c5c51d0 from Flathub, but not having any sound on any stream.

[2017-08-09 18:54] grindhold opened #301 "split off libgnome-twitch not only in windows"
https://github.com/vinszent/gnome-twitch/blob/5730b871abef3415671443c86eb5f3b00dc32bdb/src/meson.build#L111

i am currently trying to write a plugin against gnome-twitch in vala. this line gives me a hard time. why not just creating the pkgconfig-file and installing it? that would make my life a lot easier. as my plugin is in vala and the main application is in c, i do not want to consider merging

[2017-08-09 19:44] TingPing commented on #300
For what its worth it works fine here. Do you use pulseaudio on the host?

[2017-08-09 20:36] BrokenVentilator commented on #300
Yep. I'm on Fedora 26.

[2017-08-09 20:49] BrokenVentilator commented on #300
Fixed: In settings, the wrong audio output was selected. But only Gnome-Twitch seems to follow this setting.

[2017-08-09 20:49] #300 closed

[2017-08-10 09:05] vinszent commented on #301
Sure I can look into it, might ditch Windows support all together as it's just waaay to much work. But I'm pretty sure the reason I did this is that on Linux systems you can compile with undefined references while on Windows you can't. So that's why I only create libgnome-twitch on Windows so that plugins can link against that and on Linux they don't need to link against anything, the symbols will

[2017-08-10 18:09] GalGR commented on #296
sorry it took me so long to respond, but here it is:
I used apt-get build-dep + latest commit and it builds fine now!
I'm sorry if I wasted your time, keep up the good work!

[2017-08-10 18:56] vinszent commented on #296
No problem, good to hear it's building now 😄 .

[2017-08-10 18:56] #296 closed

[2017-08-12 10:35] grindhold commented on #301
#302 should fix this now

[2017-08-12 20:04] julianrichen opened #303 "Remove newline characters from stream title"
Distro: Fedora 26
GNOME-Twitch: Flatpak / r1042.c5c51d0

When watching a stream I found the headerbar expanded, at first I assumed it was the `|` pipe characters:
![gnome-twitch-but-headerbar-height](https://user-images.githubusercontent.com/58045/29243546-44adcbc4-7f6f-11e7-8ca0-ce6147aae6fd.png)

However, when I used GTK-insepctor I found that the streamer owner had inserted a newline character

[2017-08-13 19:37] grindhold commented on #301
fixed with merge of #302

[2017-08-13 19:37] #301 closed

[2017-08-14 12:01] DOFfactory commented on #131
Any news on this?

[2017-08-14 13:32] vinszent commented on #131
I created Windows build scripts [here](https://github.com/vinszent/gnome-twitch/tree/master/data/packages/windows), but too be honest it's too much effort for me to maintain. Anybody that wants to take this on is welcome, the current build setup should make it straight forward enough to compile as long as you can get the dependencies.

[2017-08-15 13:40] jojojo8359 opened #304 "Gnome Twitch crashes on login"
Hey everyone,

I just downloaded this great package and tried to log in to my Twitch account, but after I logged in the program immediately crashed. However, when I reopened the program, and went to the Favorites tab, all of my Favorite channels on my account were listed there. But the program doesn't think that I'm logged in...

Please help!

Pictures:
![gt_1](https://user-images.githubuserconten

[2017-08-15 13:56] vinszent commented on #304
It' probably an issue with the built in browser. But you are currently logged in, the `Refresh login` just means that you can refresh your login token.

[2017-08-15 18:03] ZachBacon commented on #131
I could probably maintain unofficial builds. At the moment I'm tracking a webkit gtk issue in getting the newer version to compile for use on the windows platform so that we don't need to rely on shitty old webkit versions

[2017-08-15 18:13] TingPing commented on #131
There are supposedly patches adding win32 waiting to be merged in upstream Webkit.

[2017-08-15 18:19] ZachBacon commented on #131
@TingPing that's what I was talking about. Been tracking that as much as possible. Waiting for a merge to happen.

[2017-08-15 18:42] vinszent commented on #131
I have a whole lot of stuff I need to push to GH, but in my local tree I have implemented a way to login without using the built in browser. It opens an already installed browser and starts a light web server using libsoup. Should simplify a lot of things seeing as WebKit seems to be causing problems in other areas as well (Flatpak, etc).

[2017-08-15 18:58] ZachBacon commented on #131
That's great, libsoup etc are already buildable on windows.

[2017-08-15 21:38] TingPing commented on #131
I wasn't aware of any issues with Flatpak?

[2017-08-16 07:23] vinszent commented on #131
Ones like this: https://github.com/vinszent/gnome-twitch/issues/291

[2017-08-16 18:53] zaza42 opened #305 "[feature request] disable/transparent scrollbar in chat window"
When the messages are too often, then scrollbar always appears at right, so i can't see some letters at the end of lines, because it's not transparent.
Any way to disable scrollbar or make it transparent?

[2017-08-16 18:56] zaza42 opened #306 "[feature request] adjust volume via mousewheel"
It would be so comfortable if we can adjust the volume via mouse scrollwheel. Almost all videoplayers have this function.

[2017-08-16 19:31] daviel commented on #306
You can already use the mousewheel to adjust the volume by moving the mouse cursor over the volume button in the header bar.

[2017-08-20 01:00] vinszent commented on #305
This is caused by overlay scrollbars in GTK3. I can add an option to disable them, in the meantime you can set the environment variable `GTK_OVERLAY_SCROLLING=0` which will give you "normal" scrollbars.

[2017-08-20 01:01] #306 closed

[2017-08-20 19:15] ptkato opened #307 "Docked chat overflows if width is too narrow"
![screenshot from 2017-08-20 16-10-18](https://user-images.githubusercontent.com/10677806/29497667-7217baa8-85c2-11e7-9e5a-6a9b0d383b11.png)

All the messages and even the textbox overflows.

[2017-08-25 18:39] WalkySVK commented on #257
Is there way to choose more than one language?

[2017-08-26 12:49] maweki opened #309 "Open Channels via command line"
Hi,

I'm the dev of the gnome-shell twitchlive extenstion (https://github.com/maweki/twitchlive-extension). We have (not the first) feature request to be able to open a channel from our extension in gnome twitch. To open a browser or streamlink we just run a shell comand with the streamer as a parameter.

You might be able to implement a CLI that users can use to launch a specific gnome-twitch cha

[2017-09-09 08:19] jhaye opened #311 "No license for gh-pages"
So I would like to make some improvements to the _gh-pages_ branch, however there is no licensing information to be found.
Adding a license would make it possible for others to contribute.

[2017-09-09 15:37] vinszent commented on #311
Sure, does GPL3 work?

[2017-09-09 19:35] jhaye commented on #311
Sure, thanks for the quick reply!

[2017-09-09 21:34] #311 closed

[2017-09-10 20:41] Eijebong opened #313 "The develop branch doesn't compile. It's missing the gt_win_play_vod function"
[code]

Which leads to the following linker error:

[code]

[2017-09-10 20:50] vinszent commented on #313
Right, I kinda did a huge amount of work without committing any of it, so I'm trying to commit it in logical chunks. Sorry about the inconvenience, I'll try get the rest of it up this week.

[2017-09-10 20:58] Eijebong commented on #313
No problem, just wanted to tell you :) (also ninja install doesn't install libgnome-twitch.so, do you want me to open another issue ?)

[2017-09-10 21:04] vinszent commented on #313
Yeah sure, otherwise I might forget it :P

[2017-09-10 21:12] Eijebong commented on #313
Oh, nevermind, it does, `/usr/local/lib` isn't in my `LD_LIBRARY_PATH` for some reasons...

[2017-09-16 16:24] mecjuszfufecjusz commented on #270
I noticed today that this infinite thumbnail loading leads to massive CPU usage, which results in strange behaviour, e.g. when I watch a 1080p60 stream and turn on chat, the resized video stutters. When thumbnails happen to load (which seems to either happen within few seconds from running GT or never), there is no such issue. Cairo backend, don’t know about others.

[2017-09-16 17:35] mecjuszfufecjusz commented on #272
Sorry for the silence. MPV seems to leak as well.

[2017-09-16 17:49] mecjuszfufecjusz opened #314 "MPV backend graphic glitches"
When I use MPV backend, any UI elements that hover over the video flicker (e.g. „Buffering: X%” widget, volume control, hamburger menu). Besides clicking on the video area while hamburger menu/volume control are open doesn’t close them (which is inconsistent with other backends).

[2017-09-16 17:53] mecjuszfufecjusz opened #315 "Streaming notifications behave strangely"
I have noticed two issues with windows that pop up when a followed channel begins streaming:

1) If don’t close them, they persist even when I terminate GT.
2) Click anywhere on the window area is an equivalent of clicking „Cancel” – the window disappears.

GT 0.4.1.

[2017-09-16 19:50] vinszent commented on #313
Should be fixed now. It will hopefully at least compile, but I can't guarantee any consistency in the UI.

[2017-09-16 19:50] #313 closed

[2017-09-18 11:14] vinszent commented on #315
1. This is how notifications work by default in GNOME. I'm planning though on cleaning them up each time GT is started/shutdown because they're only valid for a small period of time.

2. I don't quite understand but I'm pretty sure this is to do with GNOME and not GT in particular.

[2017-09-18 11:15] vinszent commented on #307
I will set a minimum width for the chat.

[2017-09-18 15:12] mecjuszfufecjusz commented on #315
Oh, I didn’t realize that has anything to do with GNOME because I am using Unity on Ubuntu and I was not familiar with such notifications, only with the OSD’s. I thought these were regular app windows, not something system-wide.

Anyway, here’s what it looks like on Ubuntu/Unity:
[How a notification shows on the panel as a window](https://i.imgur.com/hIJePeN.jpg). It has no title nor icon.
[How a

[2017-09-24 05:52] ptkato commented on #315
That's kinda wonky by GNOME, I'd say. The notifications persist even if I restart the computer.

[2017-09-24 06:07] TingPing commented on #315
I think it is correct behavior of them to persist the entire time the stream is running.

[2017-09-24 06:12] ptkato commented on #315
By that I mean, I turn it off, go to sleep and when I power it on in the next day the notification is still there even with the stream long gone.

[2017-09-24 06:18] TingPing commented on #315
Right it should withdraw them once the stream has passed.

[2017-10-12 18:09] chpii opened #316 "Typo in meson_options.txt"
Meson encountered an error in file meson_options.txt, line 3, column 0:
    Invalid kwargs for option "use-deprecated-webkit": "descritpion"

https://github.com/vinszent/gnome-twitch/blob/e8b42a388209ba73c85eaa1bc4ca96f6e7d06461/meson_options.txt#L3

[2017-10-13 15:53] vinszent commented on #316
Thanks, fixed now.

[2017-10-13 15:53] #316 closed

[2017-10-15 02:47] Ninmi opened #317 "Language filter unable show japanese and chinese streams only"
Hey, the title basically tells you most of the story. Interestingly, all other east asian languages seem to filter fine, but not japanese and chinese. Furthermore, japanese streams _do_ appear in the stream list with no filter applied, but nothing appears with a filter.

Apologies in advance as I don't really know what information is needed for a bug report, but I'm running Arch Linux, and Gnome T

[2017-10-18 07:49] Isometries opened #319 "Dependency issues on OpenSUSE Tumbleweed"
I've been trying to build Gnome-Twitch from tumbleweed and have come across a lot of problems. Most of them I've managed to fix, but there's one particular library that doesn't want to work.

The dependency is "Webkit2gtk-4.0", and no matter what I try, `meson build` keeps throwing this error at me. I've installed the package "webkit2gtk-4_0-injected-bundles" but it hasn't fixed it. Any idea why?

[2017-10-18 08:29] TingPing commented on #319
`sudo zypper in 'pkgconfig(webkit2gtk-4.0)'` should do.

[2017-10-18 12:41] vinszent commented on #317
Yes I can confirm this, will investigate what the issue is.

[2017-10-20 22:36] semitom opened #320 "Error 71 (Protocol error) dispatching to Wayland display"
When I run gnome-twitch with `DRI_PRIME=1`, the program crashes when I try to play a stream. I get the following message in the terminal:

[code]
Without `DRI_PRIME` it works fine. The problem is the same for both GStreamer-OpenGL and GStreamer-Clutter backends.

OS: archlinux

<details>
  <summary>$ lspci | grep VGA</summary>

[code]

</details>

<details>
  <summary>$DRI_PRIME=1 glxinfo | grep O

[2017-10-21 02:35] TingPing commented on #320
It is probably a problem to discuss with GStreamer.

[2017-10-21 11:45] p4block opened #321 "Crashes on startup if the window is big enough"
I'm using a tiling window manager (bspwm) that will force a window to be of a specific size on its creation, ignoring hints.

Opening gnome-twitch on my 3840x2160 screen (minus 35 pixels from bottom bar) will cause it to crash instantly with this log:

[code]

Opening the window in smaller container, ie by having another window already open, will avoid the crash.
If the window is resized to max si

[2017-10-21 20:38] semitom commented on #320
Cannot confirm that GStreamer is the cause, the problem is the same with the MPV-OpenGL backend.

[2017-10-21 20:45] semitom opened #322 "Streams don't play after update of ffmpeg from 1:3.3.4-1 to 1:3.4-1"
After updating ffmpeg from 1:3.3.4-1 to 1:3.4-1 streams don't play anymore. In the console I see the following messages:
[code]
Downgrading ffmpeg to 1:3.3.4-1 fixes the problem.

OS: archlinux

[2017-10-21 22:22] piedrok commented on #322
i can confirm this, also happens with kodi and minitube... - I think it's aregression with ffmpeg.
i also downgraded to the previous version with success.

[2017-10-22 03:28] TingPing commented on #322
Sounds like a bug to report to Arch/ffmpeg...

[2017-10-27 03:14] ptkato opened #323 "Only MPV works in Xmonad"
I'm using Xmonad, actually, and I noticed that I can only get the stream to load if I use MPV-OpenGL as a player backend.

Tested with all gstreamer options, none worked.

[2017-10-27 10:50] TingPing commented on #323
Sounds like you are missing some gstreamer plugins/codecs.

[2017-10-27 14:07] ptkato commented on #323
@TingPing, I don't think so, since I installed everything from AUR. All the dependencies listed in the README.md are installed.

[2017-10-27 14:52] TingPing commented on #323
AUR, sounds like you installed ancient gstreamer 0.10 libs, nothing to do with gnome-twitch. Just install `gst-libav`

[2017-10-27 22:39] vinszent commented on #323
Are you getting any other errors that you can see in the terminal? Has anything changed from when it worked before? Is this related to #322?

[2017-10-27 22:41] vinszent commented on #321
Right, Twitch only allows you to request max 100 streams. I put a pretty stupid assertion there, thinking this would only occur from a programming error, but didn't really think about high res screens. Will fix on dev branch and try to merge soon.

[2017-10-27 22:42] vinszent commented on #320
Probably an issue with OpenGL and your Optimus setup. Does anything else using OpenGL crash with `DRI_PRIME=1`?

[2017-10-27 22:45] vinszent commented on #317
Ok, I've managed to get it working for Japanese streams (I had the wrong locale code), but Chinese streams are bugged on Twitch's side. I'll be migrating to the new API soon so hopefully they've fixed it there.

[2017-10-28 02:45] ptkato commented on #323
@vinszent, no errors. Well, before I was using Gnome 3, so there's that.

[2017-10-28 07:00] tomgankema commented on #320
Other programs such as glxgears, firefox used to work fine with DRI_PRIME=1. However, I just tried running gnome-twitch again with DRI_PRIME=1 and it magically works. Still not sure what was causing this, but it seems to be fixed now.

[2017-10-28 07:15] tomgankema commented on #322
This issue seems fixed for me as of now. Again not sure what fixed this.

[2017-10-28 07:18] semitom commented on #322
This issue seems fixed for me as of now. Again not sure what fixed this.

[2017-10-28 07:19] semitom commented on #320
Other programs such as glxgears, firefox used to work fine with DRI_PRIME=1. However, I just tried running gnome-twitch again with DRI_PRIME=1 and it magically works. Still not sure what was causing this, but it seems to be fixed now.

[2017-10-28 11:11] TingPing commented on #323
Try running a compositor with Xmonad?

[2017-10-30 09:03] Ninmi commented on #317
Nice! Eager to try once the AUR package gets updated.

[2017-10-30 17:40] vinszent commented on #272
So I've done some more investigating and I experimented with the GStreamer's own playback example ([here](https://github.com/GStreamer/gst-examples/tree/master/playback/player)). If I open and close a video/stream repeatedly, basically what GT does, the memory usage just increases. So I'm pretty sure this is an issue with GStreamer. However I've been unable to find out where it's leaking memory, b

[2017-11-01 19:52] #317 closed

[2017-11-01 19:52] vinszent commented on #317
Should be fixed now, try updating the AUR package and let me know!

[2017-11-11 21:30] 741N opened #324 "Request: add whisper functionality"
as it says on the tin: is there a chance of whispers being added, aka private messages? I just logged on the site after a while and noticed I'd gotten a whisper.

[2017-11-13 05:38] xKeiro commented on #270
I'm having the same issue as well (running gnome-twitch from Solus), as I can see this is quite an old problem, can we expect this issue to be solved any time soon, or is there a workaround?

[2017-11-14 19:07] Ninmi commented on #317
Switched over to the gnome-twitch-git package and the problem is now gone, thank you!

[2017-11-14 21:25] vinszent commented on #324
Yeah sure I can look into it. However it doesn't run off IRC so it might take me a while to work it into the rest of the app.

[2017-11-14 21:28] vinszent commented on #270
So this problem pretty much required a massive rewrite, which is done on the dev branch. However I'm working on a few more things that I want done before I release.

Currently there is no easy work around, but the problem stems from having a lot of follows, so if you would logout (need to go into gsettings) then it should work again.

[2017-11-20 03:21] ptkato commented on #323
It's working now. I didn't bother checking and installed some graphical softwares in the meantime, so I can't really tell what fixed it.

[2017-11-22 17:31] HumanG33k opened #325 "[Bug] Crash without reasons"
After a time Gnome twitch crash, debian testing. Gnome is NOT my wm i use i3wm.

i use
[code]

to start, and this is the command line output when crash occur.
[code]

[2017-11-26 18:41] HumanG33k commented on #325
Look it is fix but system update.

[2017-11-26 20:34] vinszent commented on #325
Hmm ok, hopefully it has truly resolved itself. I have my suspicions what it could be otherwise, but thanks for the report 🙂 .

[2017-11-26 20:34] #325 closed

[2018-01-03 15:08] ICHx opened #326 "[feature request] not using nvidia video engine currently"
I was using opengl backend and found gnome-twitch not utilizing the video engine.  By utilizing the engine, CPU usage is expected to be lowered.

[2018-01-04 19:23] colinquirk opened #327 "gnome-twitch crashes when resized to overlap another window"
I am using 4.14.11-1-ARCH, GNOME Shell 3.26.2, and GNOME Twitch - Version r1069.b5a7760.

I have been able to consistently crash gnome-twitch using the following steps:

1. load a stream
2. extend the size of the window so that is intersects, and then overlaps another window
3. reduce the size of the window so it is no long intersecting another window
4. repeat

Usually it will crash within a few

[2018-01-04 19:26] TingPing commented on #327
Probably a Nouveau bug? Can't repro with Intel or Nvidia.

[2018-01-04 19:32] colinquirk commented on #327
Well, I just realized changing backend could help. Seems to be fixed using
gnome-twitch-player-backend-gstreamer-cairo-git r1069.b5a7760-1

before I was using
gnome-twitch-player-backend-gstreamer-opengl-git r1069.b5a7760-1

Feel free to close, maybe it will help someone else at least.

[2018-01-24 23:09] duckduck1 opened #328 "Request: Hide following offline streams"
Would be nice to have an option to just list the online streams under following channels.

This should improve visibility as well as loading times for this tab.

[2018-01-25 15:28] zaza42 opened #329 "video hangs in fullscreen with mesa > 17.3"
I've upgraded libgl1-mesa-dri to version 17.3.3-1 in Debian Buster today, then gnome-twitch hangs
the video after switching to fullscreen, while the audio is going on
smoothlessly. Then i've installed the old 17.2.5-1 version from
snapshot.debian.org and everything went to normal as earlier.
I'm using gnome-twitch with gnome-twitch-player-backend-mpv-opengl
version 0.4.1-1, and the bug is the same

[2018-01-25 15:56] vinszent commented on #329
Does this happen when you fullscreen the app i.e. no title bars or is it when you maximize/resize the app?

[2018-01-26 13:25] zaza42 commented on #329
When i maximize the window, everything is normal. The bug is come when pressing 'f' or double click on video. So in "real fullscreen" without borders or titles.

[2018-01-26 22:00] #270 closed

[2018-01-26 22:00] #321 closed

[2018-01-26 22:01] #322 closed

[2018-01-26 22:02] vinszent commented on #274
Should be fixed now on master.

[2018-01-26 22:02] #274 closed

[2018-01-26 22:02] #269 closed

[2018-01-26 22:04] #211 closed

[2018-01-26 22:06] #214 closed

[2018-01-26 22:07] vinszent commented on #172
Sorry for the prolonged wait but an initial implementation of VODs has been merged into master. There are a few rough edges that need to be ironed out, but basic functionality should be working.

[2018-01-26 22:07] #172 closed

[2018-01-26 22:07] vinszent commented on #112
Fixe by #172

[2018-01-26 22:07] #112 closed

[2018-01-26 22:10] #258 closed

[2018-01-26 22:10] #261 closed

[2018-01-26 22:12] vinszent commented on #257
@WalkySVK Sorry for the extremely delayed response. Currently the Twitch API does not allow filtering by multiple languages. This is something I could implement locally but not really near the top of my prio list atm.

[2018-01-26 22:13] #273 closed

[2018-01-26 22:20] vinszent commented on #329
I currently have Mesa 17.3.2 with a AMD Radeon graphics card and I can't reproduce this issue. Are you using X11 or Wayland? If it was working fine before, it seems like a bug lower down in the graphics stack. A little bit hard for me to debug or fix because I don't have much to go off 🙁.

[2018-01-26 22:21] vinszent commented on #327
Closing this as a bug in the Nouveau graphics driver.

[2018-01-26 22:21] #327 closed

[2018-01-26 22:21] #323 closed

[2018-01-26 22:21] #320 closed

[2018-01-26 22:21] #319 closed

[2018-01-26 22:23] vinszent commented on #314
GTK can sometimes struggle with the OpenGL surface which MPV is rendering to, that's why things can flicker. The controls not closing issue is a capturing deficiency which I can try fix. (Sorry for the delayed response 😛 )

[2018-01-26 22:24] #297 closed

[2018-01-26 22:24] #283 closed

[2018-01-26 22:24] #282 closed

[2018-01-26 22:25] #237 closed

[2018-01-26 22:27] #223 closed

[2018-01-26 22:27] #209 closed

[2018-01-26 22:28] vinszent commented on #129
With all the new changes to HTTP stuff in GT this is most likely fixed.

[2018-01-26 22:28] #129 closed

[2018-01-26 22:28] #291 closed

[2018-01-29 01:47] ptkato opened #331 "Segfault when opening a stream"
Any stream that I try to open crashes GT, the terminal output has nothing relevant. I'm using b5fa8a4.

dmesg output:

    [30437.968844] pool[626]: segfault at 0 ip           (null) sp 00007f837f092b68 error 14 in gnome-twitch[55b50859c000+7c000]
    [30437.968859] gnome-twitch[611]: segfault at 0 ip           (null) sp 00007fff738e3908 error 14
    [30437.968868]  in gnome-twitch[55b50859c000+7c

[2018-01-29 01:51] ptkato commented on #331
I did some further testing, it only happens when using GStramer Clutter player backend.

[2018-01-29 10:15] sethreaver opened #332 "Request: FrankerFaceZ Emote support?"
I was just curious if it would be possible to implement FFZ emote support in the chat for streams that use it.  This is really the only feature holding me back from using this player for all my Twitch needs.

[2018-01-29 12:14] vinszent commented on #331
Yeah I haven't updated the Clutter backend to use the new API. TBH I would like to drop the Clutter one because I don't see what the Clutter one does that the normal OpenGL doesn't do already.

[2018-01-29 23:24] zaza42 commented on #329
I also use the non-free radeon drivers:
[code]
[code]

`01:00.0 VGA compatible controller: Advanced Micro Devices, Inc. [AMD/ATI] Seymour [Radeon HD 6400M/7400M Series]
`

Maybe is it a Mesa bug?

[2018-01-30 09:24] vinszent commented on #329
That's what I'm thinking. Do you think you can try installing [GNOME MPV](https://github.com/gnome-mpv/gnome-mpv) (should be Debian packages there) and test playing a H.264 encoded file. It won't necessarily be the same as GT but I know that it also uses MPV with OpenGL to do the rendering.

[2018-01-31 20:35] notnsane opened #333 "I have no options to login, change theme, change renderer, etc."
Using Linux Mint (Edit: Xfce) 18.3, app downloaded from the Software Manager. Total Linux noob so I have no idea how to fix this.

All I have are buttons to change Channels, Follows and Games, and icons to reload, search, minimize, maximize, and close. Right clicking does nothing useful.

[2018-01-31 20:46] vinszent commented on #333
I'm not sure what window manager you are using, but you want to open the app menu. In GNOME it's usually located in the top bar [here](http://www.omgubuntu.co.uk/wp-content/uploads/2012/01/app-menu-1.jpg).

[2018-01-31 20:49] TingPing commented on #333
In Cinnamon I believe it shows up as a menu button in the headerbar.

[2018-01-31 20:52] notnsane commented on #333
I've been watching some videos and it seems the app is missing this icon on the top left:

![ogrixge](https://user-images.githubusercontent.com/7162375/35646845-5905968e-06af-11e8-8073-2b0a868654ac.png)

Any ideas? I'm using Linux Mint Xfce, sorry for not mentioning it earlier. I updated everything I could, not sure if I have to update anything else.

[2018-01-31 20:54] TingPing commented on #333
You can verify in `~/.config/gtk-3.0/settings.ini` that the `gtk-decoration-layout` value has `menu` in it: https://developer.gnome.org/gtk3/stable/GtkSettings.html#GtkSettings--gtk-decoration-layout

[2018-01-31 20:56] vinszent commented on #333
Adding to what @TingPing wrote, you can add `gtk-shell-shows-app-menu=false` which should force GT to show the app menu like in your picture.

[2018-01-31 21:27] notnsane commented on #333
After much googling and trying to find where the settings.ini file was, and how to actually get permissions to edit it, I inputted the two commands you told me and the icon still don't appear.

[2018-01-31 21:30] notnsane commented on #333
Also, is there a way to clear the settings of this app so I can get the prompt to change renderer? I selected the first one and it lags on 1080p (it didn't lagged in Win10)

[2018-01-31 23:23] notnsane commented on #333
I solved the issue by installing Linux Mint MATE (18.3), the icon appeared and I could change all, so no idea if that bug is just from the Xfce version.

Performance is OK, though it lags a bit in 1080p@60FPS, but 720p@60 works fine and that's all I need. I'm guessing it's the drivers and not this software - I'm using a very old notebook with an Intel CPU + integrated Intel GPU.

The most importan

[2018-02-03 19:30] Yardanico commented on #332
Can you also add support for BetterTTV emotes? Thanks!

[2018-02-04 01:17] vinszent commented on #333
Great! Happy it worked in the end.

[2018-02-04 01:17] #333 closed

[2018-02-04 02:41] dradtke opened #334 "Playback issues on openSUSE Tumbleweed"
I just updated the app to 0.4.1 in my OBS home repository ([link](https://build.opensuse.org/package/show/home:kog13:branches:multimedia:apps/gnome-twitch)), and everything builds great, but playback doesn't appear to be working. The channel list loads fine, chat works, but attempting to play a stream gets stuck on "Loading stream."

Here are the logs that I get:

[code]

`cannot set NULL uri` see

[2018-02-04 11:39] vinszent commented on #334
Hmm actually not, that happens for all backends when they get loaded, I just haven't silenced that warning.

It sounds more like you are missing the H264 plugin for GStreamer (usually the case when you just get a black screen). Make sure you have `gst-libva` installed.

[2018-02-04 15:02] dradtke commented on #334
That was indeed the issue!

For reference, the required openSUSE package is `gstreamer-plugins-libav`, but you need the version from Packman rather than the default repositories. After ensuring that the package was installed and running `zypper dup --from packman --allow-vendor-change`, everything started working.

I've also added `gstreamer-plugins-libav` as a recommended package to the spec.

Th

[2018-02-04 15:02] #334 closed

[2018-02-04 21:44] vinszent commented on #334
No probs! Also I noticed that you have some Clutter deps but you aren't building the GStreamer-Clutter backend. You can remove these deps then.

I'll add a link to your repo for OpenSUSE in the readme if that's fine with you.

[2018-02-04 23:10] zaza42 commented on #329
Bad news. gnome-mpv (0.13-1) does the fullscreen correctly with libgl1-mesa-dri 17.3.3-1 and 18.0.0-rc2.

[2018-02-05 16:12] dradtke commented on #334
Good call on the deps, I can take a look at that some other time.

Technically, the recommended package should be the one in [multimedia:apps](https://build.opensuse.org/package/show/multimedia%3Aapps/gnome-twitch). That one's lagging behind a little bit a 0.3, but I can try to submit my home repo's changes upstream.

[2018-02-06 15:55] vinszent commented on #329
Ok I'll see if there's something that it's doing that I should also do.

[2018-02-07 15:05] mrsrockguru opened #335 "Chat not working"
Hi, just installed Gnome-Twitch, its working fine except that I cant use the chat feature, all I get at the top is 'connecting to chat' and in the message box at the bottom its is requesting 'Please log in to chat' but Im logged into twtich.  Any idea what the issue is.

Aly

[2018-02-08 12:20] vinszent commented on #335
Hello, do you have any output from the command line? I'm uncertain of what the problem could be.

[2018-02-08 23:48] Woolba opened #336 "Playback not preventing screensaver/screen lock on KDE"
Running openSUSE, KDE 5.12, gnome-twitch 0.4.1 and the mpv backend. During playback, after 5 mins the screensaver/screen lock will kick in. Also tested with the flatpak and the issue still occurs.

If any extra information is needed let me know and I'll try to provide it.

[2018-02-09 12:55] vinszent commented on #336
Is this on Wayland or Xorg?

[2018-02-09 13:17] Woolba commented on #336
The issue is present on both Xorg and Wayland.

[2018-02-10 12:42] jsaalfeld commented on #335
I have a similar problem. I can stream the picture fine, but the Chat window isn't displayed at all. Even Though I have this console output:
[code]
When I toggle the Chat symbol the frame of the stream just adjusts by one pixel and nothing appears.

I'm on latest Arch and installed from the AUR  with the OpenGL streamer .

[2018-02-10 12:46] jsaalfeld commented on #335
Ok. I just fixed my own Problem.

I noticed a change in the mouse courser when i selected that one pixel. I selected it and moved it in a little and it was the chat window!

Should I open up another Issue to address that the chat window should have an initial size of some pixels > 1?

[2018-02-10 13:10] vinszent commented on #335
@jsaafeld Yeah, it's a known bug where the chat is sometimes 1 pixel wide, you can open another bug so I can keep track of it.

[2018-02-10 14:16] jsaalfeld opened #337 "Chat initially just a pixel wide"
**Problem:** Just after installing and opening the first stream, in some instances the chat window is just one pixel wide.

**Manual Fix:** To widen the chat bar this pixel has to be hit and then you can enlarge the chat bar.

**Desired Outcome:** The chat bar should be initially more then one pixel wide.

[2018-02-10 14:16] jsaalfeld commented on #335
Noted this in #337

[2018-02-10 18:18] ptkato commented on #337
Related: #231

[2018-02-11 03:10] Woolba commented on #336
It seems as though this did not fix the issue, at-least with the tested mpv backend. I just built a package from git and the screenlock is still kicking in (tested on Xorg).

Here is the terminal output if needed: https://pastebin.com/F2Axg1E6

[2018-02-11 11:20] vinszent commented on #336
I can see on the first line that you are still running `0.4.1` which is interesting because you have `GtCacheFile` log entries which were added recently. Are you sure you've compiled the latest master?

[2018-02-12 09:32] Woolba commented on #336
I'm a bit of a noob when it comes to package building, and I don't really know much about best-practices and such. I based my package off one that was recently posted here, and just added to the %files area until the build log stopped complaining. You can see my spec file and whatnot here: https://build.opensuse.org/package/show/home%3AWoolba/gnome-twitch

It's possible that I've messed something

[2018-02-12 12:10] vinszent commented on #336
Yep you're correct, the method I use is only respected by "GNOME" desktops ala GNOME, Mate, Unity, etc. It looks like I'll have to implement an extra way of inhibiting the screensaver, I'll re-open this until that's done.

For my own reference: https://people.freedesktop.org/~hadess/idle-inhibition-spec/re01.html

[2018-02-12 20:36] vinszent commented on #336
Ok I've added this functionality, can you please recompile the head of master and see if it works now?

[2018-02-13 23:15] Woolba commented on #336
Works like a charm! Thank you very much.

[2018-02-13 23:15] #336 closed

[2018-02-24 03:19] ptkato commented on #331
Now doesn't matter the backend, it randomly crashes, usually in the third try it doesn't crash.

[code]

[2018-02-24 15:27] ICHx opened #338 "request: A followed game tab"
For example, to find tf2 games, on the website, I can now go to followed -> games.

It would save time to have it built-in instead of searching everytime.

--
I love this app. :D

[2018-02-24 21:34] vinszent commented on #331
Can you please build with debugging symbols, so I can see where it crashes?

[2018-02-25 15:12] ptkato commented on #331
Whaddaya mean? Can't I just run with --log-level=debug, or were the symbols removed from the git version?

[2018-02-25 16:11] TingPing commented on #331
Bit off topic but personally I think gnome-twitch should drop the multiple backend mess and just pick a single high quality and well tested one. Clutter is basically dead, the MPV backend is too large of a dependency IMO, which leaves Cairo and OpenGL. The latter is certainly the future of Gtk/GStreamer but in my experience the Cairo one is still more stable atm.

[2018-02-26 11:50] vinszent commented on #331
Yep I will be dropping the Clutter backend as stated before. I will also be merging the Cairo and OpenGL backends into one, as their dependencies are the same. Then the user can go into the plugin settings and pick which type of rendering they want.

However I still want to keep the MPV backend as a number of people use it and if you don't have a GNOME based desktop, GStreamer brings in tonnes of

[2018-03-05 23:59] JamieEi opened #340 "Crashing on startup"
[23:55:24] Message - GNOME-Twitch : {GtApp} Startup
[23:55:24] Message - GNOME-Twitch : {GtApp} Loading chat settings
[23:55:24] Message - GNOME-Twitch : {GtApp} Activate
[23:55:24] Message - GNOME-Twitch : {GtPlayer} Loaded player backend 'GStreamer Cairo player backend'
[23:55:24] Message - GNOME-Twitch : {GtPlayerBackendGstreamerCairo} Init
[23:55:24] Warning - GNOME-Twitch : cannot set NULL ur

[2018-03-06 20:47] Gy0m commented on #340
I almost have the same problem than JamieEI, crash at startup on Ubuntu v0.2.1-1~webupd8~xenial1

[20:46:42] GNOME-Twitch - Message : "{GtApp} Loading chat settings"
[20:46:42] GNOME-Twitch - Message : "{GtApp} Startup"
[20:46:42] GNOME-Twitch - Message : "{GtApp} Activate"
[20:46:42] Gtk - Warning : "Theme parsing error: gnome-twitch-style.css:43:20: '-gtk-icon-effect' is not a valid property nam

[2018-03-06 20:54] vinszent commented on #340
Hey guys. So 0.2.1 is really old and Twitch has since updated their API several times. I'm guessing they've finally deprecated the v3 API which is what's being used in this version of GT, rendering it unusable. I reccommend updating to the latest version of GT :wink:.

[2018-03-06 21:14] Gy0m commented on #340
Thanks vinszent, i'm actually upgrading ubuntu from 16.04 to 16.10 Because the 0.4.0 requires GTK+ >=3.20, it’s only available for Ubuntu 16.10 and Ubuntu 17.04. I'll keep you in touch

[2018-03-06 21:18] JamieEi commented on #340
I was on 0.3.1, which is the latest version available in Debian stable or backports. Installing 0.4.1 from experimental seems to have fixed it though. Thanks!

[2018-03-06 21:18] #340 closed

[2018-03-06 22:18] TingPing commented on #340
@Gy0m Just install the Flatpak: https://beta.flathub.org/apps/details/com.vinszent.GnomeTwitch

[2018-03-07 09:58] Gy0m opened #341 "Unable to fetch your twitch follows"
hi, on Gnome-Twitch v0.4.1 i can't fetch my twitch follows and have this error message :
Unable to fetch all followed channels with id '40536284' and oauth token '
-' because: A followed stream did not exist as a followed channel

[2018-03-07 10:11] vinszent commented on #341
How many follows do you have? The Twitch API is very sketchy and is not consistent in what it returns.

[2018-03-07 10:42] Gy0m commented on #341
Thanks vinszent, i made a big clean in my follows (really needed it) and now it works perfectly :)

[2018-03-07 10:42] #341 closed

[2018-03-12 09:48] jsaalfeld opened #342 "Links with hypens are not properly working in chat"
I just noticed, that hypens in links don't seem to work properly in the chat

![broken-hypen-link](https://user-images.githubusercontent.com/6213120/37276707-d3d0eaec-25e2-11e8-9352-3536c86f7793.png)

As you can see, the link https://github.com/PoE-TradeMacro/POE-TradeMacro/releases is only clickable until the first hyphen.

[2018-03-12 14:20] ajira86 opened #343 "chat is working but stream never starts"
I have two computer to run Gnome-Twitch, one is perfectly working but on the other one, the application seams ok but never starts the streams (only chat). Here is my output from flatpak run:

[code]

Then the application crashed shortly after this line. How can I help you to solve the issue ?

[2018-03-16 01:55] dmitryitri commented on #265
I think this thread needs to be bumped. I've just started using gnome-twitch and found out that even if my default quality is "Medium" it always plays the Source quality when I open a new stream. I've dug into the code a little bit and found out that it's just checking stream qualities against default one, which is "Medium". Currently, most of the streams have their quality in numbers (like 480p e

[2018-03-21 13:53] nonchip opened #345 "waffle.io repository broken"
trying to see the waffle.io repo (via the 3rd link on http://gnome-twitch.vinszent.com/#community) shows a "create this repository" page.

[2018-03-21 20:50] Dayfiri opened #347 "Can't login ( I'm not a robot issue )."
My stream works fine but I can't login because after checking the box in " I am not a robot " it throws an error.

![screenshot_20180321_214935](https://user-images.githubusercontent.com/16082563/37736700-e03ebdce-2d51-11e8-98ce-6402aa20c5d0.png)

[2018-03-21 20:56] vinszent commented on #347
This is an issue with WebKitGTK (the library to show the embedded browser) and there isn't much I can do to fix it. I am working towards replacing the embedded browser with just opening the login link in the user's browser of choice to avoid this issue and others.

[2018-03-21 21:43] 7oxicshadow opened #348 "Fedora 27 : Unable to locate "libgnome-twitch.so.0""
I have built from source using the following command:

meson build -Dbuild-player-backends=gstreamer-opengl,gstreamer-cairo
sudo ninja -C build install

Everything installs fine and the Gnome Twitch icon is available in the apps area.

When trying to run it I get the error saying "Unable to locate libgnome-twitch.so.0"  and the app crashes. After doing some digging the installer has put the .so fi

[2018-03-22 11:58] vinszent commented on #348
You need to set the prefix with `meson build --prefix=/usr` otherwise it will default to to `/usr/local`.

[2018-03-22 13:57] TingPing commented on #348
or add `/usr/local/lib64` to `LD_LIBRARY_PATH`.

[2018-03-27 17:01] ptkato opened #349 "Microstutters"
I'm experiencing microstutters, the video freezes for like 0.5~1 second, the audio plays fine. I went through the quality options and it happens in all of them, the thing is, it only happens when using the GStreamer backends, MPV runs smooth as silk.

[2018-03-31 00:10] ptkato commented on #272
Any news on this topic? Sometimes I notice that my memory usage is too high, when I go check, it's GT consuming like 2GB.

[2018-04-05 03:39] TheOuterLinux opened #351 "Segmentation fault after login on Debian Stretch"
$ gnome-twitch
[03:17:57] Message - GNOME-Twitch : {GtApp} Startup
[03:17:57] Message - GNOME-Twitch : {GtApp} Loading chat settings
[03:17:57] Message - GNOME-Twitch : {GtApp} Activate
[03:17:57] Message - GNOME-Twitch : {GtPlayer} Loaded player backend 'MPV OpenGL player backend'
[03:17:57] Message - GNOME-Twitch : {GtPlayerBackendMpvOpenGL} Init
[03:17:58] Critical - GLib : g_ptr_array_remove_i

[2018-04-05 08:42] vinszent commented on #351
Firstly it's not my fault Twitch has a stupid ACL setup and as I wrote in that bug I don't use your email, it's only so I can read a user's followed streams.

You can delete your OAuth token from DConf using `gsettings set com.vinszent.GnomeTwitch oauth-token ""`, this is equivalent to logging out.

[2018-04-05 08:46] vinszent commented on #349
Have you had any recent updates to GStreamer or libav? If it's in all GStreamer backends and not in MPV I would suspect it's an issue with GStreamer.

[2018-04-05 08:49] vinszent commented on #272
Sorry, I haven't made much progress on this issue. I'm still certain it's not a bug in GT however as I can see this leak in many video apps on my system. I starting to suspect it might be a bug in libav (which has had its fair share of leaks in the past). Also I don't see this leak when playing any other codec, e.g. VP9, with the exact same GStreamer pipeline.

[2018-04-05 08:50] vinszent commented on #345
Yep, old website is old. I have someone helping me revamp it a bit, so that should be up soon.

[2018-04-05 08:50] #345 closed

[2018-04-11 00:53] Jonatanime opened #352 "Gnome not work in KDE Neon"
![screenshot_20180410_215242](https://user-images.githubusercontent.com/38263591/38590761-a2e7ef6e-3d09-11e8-8758-90529a9f0143.png)

[2018-04-11 11:50] vinszent commented on #352
Did the Cairo backend work at all? I don't know what the status is of OpenGL in Flatpak.

[2018-04-11 13:17] TingPing commented on #352
OpenGL can be fine but the driver has to be packaged.

[2018-04-11 13:48] Jonatanime commented on #352
Verify the commands that allow me and still does not show the transmission.

![screenshot_20180411_104633](https://user-images.githubusercontent.com/38263591/38620796-d4247f2c-3d75-11e8-915c-070bf6b67a96.png)

[2018-04-18 02:28] ceciliavision commented on #30
@nashamri  removing `gstreamer-vaapi` does save the world. Thanks a lot! I won't be able to figure that out if you didn't find it.

[2018-04-26 21:58] imzesok commented on #131
tried to run the windows script as it is, and it didn't compile.  here's the log:
[build-log.txt](https://github.com/vinszent/gnome-twitch/files/1953133/build-log.txt)

[2018-04-27 00:38] eblieb opened #353 "Issues with Nvidia Ion LE..."
I am running Lubuntu on a Atom 230 and Nvidia Ion LE... None of the options work (the streams wont play, they just freeze) with either the software or gpu enabled methods. If I use twitch streamer with VLC it works fine. If I use kodi with teh twitch plugin it works fine... Any ideas?

[2018-05-05 09:27] pasman1 opened #354 "Some default settings not work"
Hi.

When enter Settings->General, some settings not work
in locales en_US.UTF-8 and pl_PL.UTF-8:

- Use dark theme
- Default Video Quality

Install dir: $HOME/.local
Version: r1189.bbca68b
Backend: mpv
OS: Lubuntu 18.04/amd_64

[2018-05-05 10:09] exalsy opened #355 "Not working on Fedora 27 or 28"
I installed gnome-twitch through flathab, and then enabeling either "GStreamer OpenGL player backend" or "GStreamer Cairo player backend", gnome-twitch is stuck on "Loading stream".

[2018-05-08 19:15] Lirt commented on #355
Works fine in my Fedora 28 Gnome setup (GStreamer + OpenGL).

[2018-05-08 19:26] Lirt opened #356 "Gnome Twitch crashes on opening stream (Requests must be made over SSL)"
Hello,

on Fedora 28 with Flatpack when I open Lirik's stream for example and Gnome Twitch crashes directly. The log I see in console is below.

Logs that may say what is wrong are `cannot set NULL uri` and `Received unsuccessful response from url 'http://api.twitch.tv/api/channels/lirik/access_token' with code '400' and body '{"error":"Bad Request","status":400,"message":"Requests must be made ov

[2018-05-08 20:13] simbiotiqu commented on #356
See the same issue
On solus package and flatpak

[2018-05-09 06:10] exalsy commented on #355
After updating, it now crashes when clicking a stream using OpenGL or using Cairo. Is there any dependency I may not have?

[2018-05-09 09:56] julfur commented on #356
Same on Ubuntu. We're all impacted, it might be a twitch API issue.
It was working fine until yesterday.

[2018-05-09 12:37] ggdaynight commented on #356
What I'm seeing here and in my logs as well, the twitch API doesn't accept the request in plain HTTP, which is a good thing security-wise.

Sorry guys, but I don't have the time to find exact problem in the code and test it. I've to study hard.
Maybe just the ACCESS_TOKEN_URI definition in gt-twitch.c needs to be changed and that's all, or maybe it needs more love.

I hope I've helped a bit, but I

[2018-05-11 17:52] LapotinVal opened #358 "crash on click video, fedora 28, some week ago work fine"
bash-4.4$ flatpak run com.vinszent.GnomeTwitch/x86_64/stable
[17:50:45] Message - GNOME-Twitch : {GtApp:370} Startup, running version '0.4.1'
[17:50:45] Message - GNOME-Twitch : {GtFollowsManager:254} Follows file at '/home/valera/.var/app/com.vinszent.GnomeTwitch/data/gnome-twitch/followed-channels.json' doesn't exist
[17:50:45] Message - GNOME-Twitch : {GtApp:339} Activate
[17:50:45] Message - G

[2018-05-11 18:15] dengelt commented on #358
Looks like a duplicate of #356

[2018-05-11 22:32] #356 closed

[2018-05-11 22:34] vinszent commented on #355
I think this is a duplicate of #356

[2018-05-11 22:45] exalsy commented on #355
Yeah it is, I just ran it from terminal and got an SSL related error:
[code]

[2018-05-11 22:45] #355 closed

[2018-05-13 18:04] Maks7878 commented on #358
I have the same issue as stated above. This package worked fine up until about a week ago or so. I am using Linux Mint Mate 18.3

[18:00:46] Message - GNOME-Twitch : {GtApp:370} Startup, running version '0.4.1'
[18:00:46] Message - GNOME-Twitch : {GtApp:339} Activate
[18:00:46] Message - GNOME-Twitch : {GtPlayer:132} Loading chat settings
[18:00:46] Message - GNOME-Twitch : {GtPlayer:999} Loaded p

[2018-05-14 19:23] Aqa-Ib opened #359 "Request for a new version"
Hello. I am asking for a new version because bug #356 leaved the program on a unusable state on every distribution out there. Submiting a new version will make package maintainers to upgrade the program into a usable state again.

Thank you, regards.

[2018-05-15 18:03] Aqa-Ib commented on #359
Oh, I understand.
Then I will report a bug in my distribution to see if it is possible for the maintainer to apply the patch.

Thanks!

[2018-05-16 02:43] TingPing commented on #359
The Flatpak has already had the backport for a bit.

I think it makes a lot of sense to just make an `0.4.2` which is `0.4.1` + this backport. You don't have to release off of HEAD.

[2018-05-16 02:45] TingPing commented on #359
Here is a patch that applies to 0.4.1 for any other packages btw: https://raw.githubusercontent.com/flathub/com.vinszent.GnomeTwitch/master/0001-Use-new-Twitch-API-URL-over-SSL.patch

[2018-05-16 14:37] vinszent commented on #359
Sure I can create a release branch.

[2018-05-16 23:40] TingPing commented on #359
@vinszent Oh, please include https://github.com/vinszent/gnome-twitch/commit/6bee8bc0d1626087340138e66225d55ebe9d498e too.

[2018-05-18 17:59] Aqa-Ib commented on #359
Fixed on debian:
https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=898768

[2018-05-19 04:29] TingPing commented on #359
Forgot to include it in the appdata file.

[2018-05-19 12:09] vinszent commented on #359
Right.... well not much I can do now. v0.4.1 isn't there either anyways, so I'll try remember to update it next time.

[2018-05-19 12:37] TingPing commented on #359
Oh, Meson file wasn't even bumped either.

[2018-05-19 15:38] #359 closed

[2018-05-20 04:06] Aqa-Ib opened #361 "Stream previews don't load"
It is rare when previews load, normally they are like this:
![screenshot_20180520_060514](https://user-images.githubusercontent.com/16420574/40275581-f0b267c0-5bf3-11e8-9f19-544d04beffe0.png)

[2018-05-20 11:50] vinszent commented on #361
Hi, so this is probably #270 which I've fixed on master but haven't released it yet unfortunately. The only way to fix it, is to "logout" by deleting your OAuth token from GSettings. You can do this with `gsettings reset com.vinszent.GnomeTwitch oauth-token` or by using `DConf` app.

[2018-05-20 13:19] Aqa-Ib commented on #361
Thank you!

[2018-05-23 07:22] Mef45 opened #362 "Bad Request: Requests must be made over SSL"
Ubuntu 17.04, GNOME Twitch - Version 0.4.1, after trying to open any stream program closes immediately
`[07:20:08] Warning - GNOME-Twitch : {GtTwitch:336} Received unsuccessful response from url 'http://api.twitch.tv/api/channels/ninja/access_token' with code '400' and body '{"error":"Bad Request","status":400,"message":"Requests must be made over SSL"}'
[07:20:08] Warning - GNOME-Twitch : {GtTwit

[2018-05-23 07:29] Mef45 commented on #362
Ok i didn't see new version 0.4.2 which has fixes already, sorry

[2018-05-23 07:29] #362 closed, assigned to nobody

[2018-05-23 07:30] soloam opened #363 "Crash after login"
Hello, I have installed gnome-twitch in debian 9, and when I launch the app everything works ok, but when I log in I the app crashes... In the console I get this error:

`
[07:28:54] Message - GNOME-Twitch : {GtApp} Startup
[07:28:54] Message - GNOME-Twitch : {GtApp} Loading chat settings
[07:28:54] Message - GNOME-Twitch : {GtApp} Activate
Fontconfig warning: "/etc/fonts/conf.d/50-user.conf", lin

[2018-05-24 12:11] vinszent commented on #363
Unfortunately Twitch returns rubbish half the time in their responses... Missing data, malformed JSON, etc. Next version will definitely have better handling for this.

[2018-05-24 16:49] mecjuszfufecjusz opened #364 "Only 2 player backends in flatpak"
I switched to flatpak version of GT to update to 0.4.1. Unfortunately, only Cairo and OpenGL backends are available, which are rather hard on my CPU. Is there a chance to include MPV and Clutter backends in the flatpak package?

[2018-05-25 20:11] CaptainKraft commented on #284
I just started using gnome-twitch, and so far it's great. I came here to request this exact feature, so +1 from me.

[2018-05-28 20:10] AccountOneOff opened #365 "No player backends work"
Gstreamer-cairo kind of works but opens outside of Gnome Twitch in another window, gstreamer-opengl doesn't play video only audio, and mpv-opengl can't be installed because it can't find mpv when building even though it's installed.

https://pastebin.com/UHdHUgy1

Ubuntu 18.04

[2018-05-31 07:32] jambocurious opened #366 "Unable to use gnome-twitch"
Hi! So I found this project and decided to try it out on my Ubuntu 18.04.
First I tried to install it just with "apt-get install gnome-twitch" together with some backend players packages for ubunty ( f.e. gnome-twitch-player-backend-mpv-opengl ). It works, but I had the error about stream access. After looking in the issues I found that this is caused by ability of twitch to use https now. So I do

[2018-05-31 14:26] Beafantles commented on #343
I have the same issue.

[2018-05-31 15:13] herrwusel commented on #366
See [here](https://github.com/vinszent/gnome-twitch/issues/362).

[2018-05-31 21:55] jambocurious commented on #366
I saw this both threads before writing previous post. But what actually helped me is to install from [this repository](http://ubuntuhandbook.org/index.php/2018/05/gnome-twitch-0-4-2-released/) gnome-twitch 0.4.2. After that i was able to install corresponding player backends, but as was raised in the previous issue, on Ubuntu 18.04, opengl works only text and audio, the same as clutter, cairo open

[2018-05-31 21:55] #366 closed

[2018-06-02 18:16] Aqa-Ib commented on #361
@vinszent this issue also happens without being loged in when trying to load the streams previews into the "Games" tab. It happens sometimes, not everytime. The only way to get it to load the previews is restarting the program. Reloading doesn't work neither switching between tabs. My internet is fine, just tried a ping and no lag, no packet loss.

[2018-06-03 00:33] Aqa-Ib commented on #361
Excuse me, it also happens in the "Channels" tab sometimes.

[2018-06-03 11:05] vinszent opened #367 "Future development"
A lot of you may have noticed that the development pace has slowed down a bit since the last release. The main reason for this is Twitch constantly burning devs with changes to their already unstable APIs and causing GT to break constantly.

Then at the beginning of the year they announced that they are planning on axing their existing API and replacing it with another one. This new API only has a

[2018-06-08 18:26] xgorex opened #368 "[ubuntu 18.04] Crash just after selecting any stream"
Hi,
Observation: crash just after selected any Twitch stream from the main screen.
Setup: Xubuntu 18.04 with installed all updates, Gnome-twitch installed from Ubuntu repo:
Get:1 http://pl.archive.ubuntu.com/ubuntu bionic/universe amd64 gnome-twitch amd64 0.4.1-2 [164 kB]
Get:2 http://pl.archive.ubuntu.com/ubuntu bionic/universe amd64 gnome-twitch-player-backend-gstreamer-cairo amd64 0.4.1-2 [6 20

[2018-06-09 19:39] speace commented on #368
same as #356 which has been fixed.
Either the ubuntu package needs to be updated or you need to update.

[2018-06-10 14:50] DunkelheitVZ commented on #368
I have the same problem and the software says: up to date

[2018-06-11 05:42] herrwusel commented on #368
It says it is up to date because it reflects the current state of the repository you are using. You can do `apt-cache policy gnome-twitch` to show what version is installed on your system. You should have v0.4.2 installed.

[2018-07-05 06:47] drtwisted commented on #276
I experience this issue as well! 200+ followed channels.

[2018-07-07 14:15] jdamboeck commented on #309
1 year and nothing? sad :(

[2018-07-07 20:31] ptkato commented on #367
If Twitch indeed do axe their API, what will be done about GT code? Reshaped to something else, maybe?

[2018-07-11 16:07] sbernard31 opened #369 "Loading stream never ending with flatpak version"
When I try to look a stream it does not work. The spinning loading stream screen never finished.

I have no image, no sound, no chat :p

I use the 0.4.1 flatpak version on debian stable. (the version release with my distrib works but was a bit old, so I try the more recent flatpak version)

Here is the log I get :
[code]

[2018-08-01 22:42] dfstorm commented on #368
I used the PPA proposed in install instructions for Ubuntu and all it got is 0.4.1-2. Maybe the maintainers should update the "official repo"... Or propose an alternative beside building from sources or take one meant for an other distribution. ^^'

[2018-08-18 07:51] LapotinVal commented on #369
bash-4.4$ flatpak run com.vinszent.GnomeTwitch
Gtk-Message: Failed to load module "pk-gtk-module"
Gtk-Message: Failed to load module "pk-gtk-module"
[07:50:29] Message - GNOME-Twitch : {GtApp:370} Startup, running version '0.4.1'
[07:50:29] Message - GNOME-Twitch : {GtFollowsManager:254} Follows file at '/home/valera/.var/app/com.vinszent.GnomeTwitch/data/gnome-twitch/followed-channels.json' doesn

[2018-08-25 22:39] Jkillelea opened #370 "Segmentation Fault on HTTP 400 return code when clicking on video"
[code]

Looks like Twitch has changed their backend requirements?

[2018-08-27 10:46] epistularum commented on #317
Issue still present in Linux mint

[2018-09-11 18:45] zabi94 commented on #370
[code]
Same error on my pc as well
Ubuntu 18.04/gnome-twitch 0.4.1-2/GStreamer-OpenGL

[2018-09-11 22:51] monte-monte commented on #370
Just installed. Same error here. Ubuntu 18.04

[2018-09-15 21:47] FFY00 opened #371 "gnome-twitch was moved to the official Arch Linux repos"
Hey,

I just moved `gnome-twitch` to the Arch Linux official repos. You might want to update the README.

https://www.archlinux.org/packages/community/x86_64/gnome-twitch/

Thank you,
Filipe

[2018-09-18 03:28] ptkato opened #373 "Possible memory leak"
I open GT, select a stream, then my RAM usage increases steadily and after a few seconds it reaches 100% and the whole computer freezes. I'm using gnome-twitch, commit d3a5c92.

[2018-09-19 08:32] vinszent commented on #371
Thanks a lot, this is great! Fixed in #372

[2018-09-19 08:32] #371 closed

[2018-09-19 08:35] vinszent commented on #373
Which player backend are you using? This is probably the long standing issue described in #272. I've tried debugging it but it's very hard to pin it to anything because it's probably deep down in some library.

[2018-09-19 08:44] vinszent commented on #367
It seems like Twitch has decided to delay the end-of-life of their current API https://discuss.dev.twitch.tv/t/twitch-api-update-delaying-v5-end-of-life/16277. While this doesn't solve all of the issues I listed above, it does alleviate some concern I had with continuing development.

I've been wanting to rewrite GT in a more maintainable language for a while (see #199). So I will take the opportu

[2018-09-19 08:46] vinszent commented on #370
This was solved in 0.4.2, please ask the maintainers of that package to update it.

[2018-09-19 08:46] #370 closed

[2018-09-19 08:47] vinszent commented on #317
@epistularum Please ask the maintainers of that GNOME Twitch package to update it.

[2018-09-22 02:33] ptkato commented on #373
If I recall correctly, it was GStreamer OpenGL.

[2018-10-19 15:20] terzag opened #374 "Are there plans for the new Twitch API?"
This is not really a bug report but on the GitHub for Streamlink Twitch GUI, I noticed the following post: https://github.com/streamlink/streamlink-twitch-gui/issues/599

Basically, the developer says that by the end of the year, Twitch plans to drop the current API STG uses (though the decision might have been reverted) and he's not sure how it will affect the app but a limitation to the number o

[2018-10-19 22:09] vinszent commented on #374
Way ahead of you, see #367.

TLDR: Twitch is postponing deprecation of their V5 and I will be continuing development for now as I'm using it as an exercise to learn Rust ;).

However the rate-limiting seems concerning, as it seems that **all** GT applications will be limited to a combined total of 120 requests per minute. I could try to request a higher rate limit but I highly doubt they would all

[2018-10-20 00:36] jorp opened #375 "allow user to set default view"
It would be nice if the user could set a default tab when launching this application. Whether it would be: channels, follows, or games.

[2018-10-20 07:57] terzag commented on #374
Whoops, didn't see the other thread before posting.

Good to know that you've been aware of it, though the situation doesn't look very good.

[2018-10-26 14:53] TingPing commented on #367
Not inherently.

[2018-11-02 21:33] vinszent commented on #367
No, but I intend to remove the WebKit dep anyway.

[2018-11-02 21:34] vinszent commented on #374
My plan is to have a default client ID (mine) which will probably be rate limited into oblivion. Then people can always go to the Twitch developer website, register an app and use that client ID as their own personal one.

[2018-11-10 22:46] Gy0m opened #376 "Something gone wrong: unable to update oauth info"
i changed login info soon and can't log in gnome-twitch any more, any answer ?

[2018-11-12 15:49] Gy0m commented on #376
I tryed to change to previous password, but nothing change, i have a red notification on top left of app tells "somethings got wrong:unable to update oath info. And some details tells : Unable to update oauth info because: Unable to read JSON member with name 'user_id' because: The member “user_id” is not defined in the object at the current position.
Thanks for your help

[2018-11-12 15:49] #376 closed

[2018-11-12 15:51] Gy0m opened #377 "unable to update oaut info"
I tryed to change to previous password, but nothing change, i have a red notification on top left of app tells "somethings got wrong:unable to update oath info. And some details tells : Unable to update oauth info because: Unable to read JSON member with name 'user_id' because: The member “user_id” is not defined in the object at the current position.
Thanks for your help

[2018-11-12 16:13] Gy0m commented on #377
I finally ends with this ... the thing is gnome-twitch opens in full window, so i couldn't set up my new oauth info. Perhaps something to update in the code ?

[2018-11-12 16:17] Gy0m commented on #377
I need to open a stream in channels by default, no choice to select parameters or followed channels.
then need to esc to be able to have choice to parameters and followed channels.

[2018-11-12 16:51] Gy0m commented on #377
Issue resolved by himself. App no longer open in full-screen , so i can access parameters and followed channels.

[2018-11-12 16:51] #377 closed

[2018-12-05 15:29] SteveEbey73742 opened #378 "Can we download addons and mods for our installed games"
My only reason to use twitch, is the functionality of updating my in game addons for world of warcraft.  Is that a feature you would consider adding?

[2018-12-18 14:08] janagyjr opened #379 "Gnome-Twitch Crash"
[code]

Debian 9 Cinnamon on Dell Inspiron 5755 w/ 8GB RAM and 247GB free space. Unsure what else to add. This only started after adding my login details.

[2018-12-23 07:44] Kexerval commented on #378
That's something that is completely outside of the scope of this project. As far as this project is concerned, it is to enable viewers to watch streamers and use chat. If I'm mistaken, please correct me. Sorry!

[2018-12-24 17:36] ndoulgeridis commented on #379
Happening to me as well

[2019-01-25 22:29] probonopd opened #380 "AppImage for Linux"
Would you be interested in providing an [AppImage](http://appimage.org/) which would have, among others, these advantages:
- Applications packaged as an AppImage can run on many distributions (including Ubuntu, Fedora, openSUSE, CentOS, elementaryOS, Linux Mint, and others)
- One app = one file = super simple for users: just download one AppImage file, [make it executable](http://discourse.appimag

[2019-03-09 22:04] z3r0sTr3sS commented on #276
guys i have this issue and i don't understand how fix this issue .^.

[2019-03-09 22:23] z3r0sTr3sS opened #382 "gnome-twitch "Warning" xubuntu 16.04 LTS x86_64"
[21:08:29] Message - GNOME-Twitch : {GtApp:339} Activate
[21:08:29] Message - GNOME-Twitch : {GtPlayer:132} Loading chat settings
[21:08:29] Message - GNOME-Twitch : {GtApp:147} Succesfully fetched oauth info with name 'z3r0str3ss94', id ['id'] and oauth token ['token']
[21:08:30] Message - GNOME-Twitch : {GtApp:182} Succesfully fetched user info with name 'z3r0str3ss94', id ['id'] and oauth token

[2019-04-10 14:30] windspawn opened #383 "Feature Request: Proxy settings"
So I just installed gnome-twitch for the first time but I am unable to do basically anything. When trying to log into my twitch account all I get is a "Peer failed to perform TLS handshake", but I am pretty sure the real issue is that I use a proxy and gnome-twitch just is trying without going through the proxy. It would be really nice to be able to configure proxy settings

[2019-04-16 21:05] Le-Barbu commented on #369
had the same issue on arch, installing the gst-libav package (GStreamer Multimedia Framework ffmpeg Plugin) solved everything

[2019-05-08 03:08] szilm commented on #379
Same issue here.  Trying to delete login settings to see if it resolves the segfault.  Where are they saved?

[2019-05-08 21:50] szilm commented on #379
I haven't seen a successful stream, no, but it doesn't crash on startup without login.

[2019-05-24 08:17] ChristianJacobsen opened #385 "Segmentation fault when opening any stream"
Hey!

I've been using the project for some time now, but recently experienced that streams would get stuck on `buffering n%`. Chat was still working. Attempting to change the stream quality would freeze the entire application. Tried with all the 4 supported player backends, but no change. Decided to switch to the `git` version, but then I started getting segfaults instead.

Backtrace of the applic

[2019-06-10 12:39] SteveEbey73742 commented on #378
Twitch is also what gamers use to keep addons and mods updated for the games they play. Twitch merged, or clobbered curse and took over that functionality.  The windows twitch desktop app is very problematic to use with wine, so was looking for a solution specifally written for linux.

[2019-07-21 15:54] jaystrictor commented on #364
I second this and opened an [issue in the flathub repo](https://github.com/flathub/com.vinszent.GnomeTwitch/issues/7).

[2019-07-21 16:16] TingPing commented on #364
Both Cairo and OpenGL backends support hardware acceleration via GStreamer-VAAPI (assuming Intel or AMD GPU). That is probably where your focus should be.

[2019-07-23 22:23] ullebe1 opened #386 "Channels hosting other channels shows as offline"
If a channel hosts another channel this is currently not reflected in the UI and the channel just shows as offline.

[2019-08-15 06:23] #385 closed, assigned to nobody

[2019-08-23 12:50] ghost opened #387 "Migrate to the GNOME Gitlab"
Would likely fit in the https://gitlab.gnome.org/World group according to https://wiki.gnome.org/GitLab/IncubatorReqs

[2019-08-23 15:11] slarrain opened #388 "Flathub version still in 0.4.1"
Hi,

The version on Flathub is still at 0.4.1 even though there is a new 0.4.2 release. Would it be possible to update the flathub version? Or how is that done, so maybe for next time I could help do it?

Thanks!

[2019-08-23 15:18] slarrain commented on #388
Upon further research, there seems to be some inconsistencies:
On the flatpak file, it seems to be getting 0.4.2:

https://github.com/flathub/com.vinszent.GnomeTwitch/blob/0a30a3408159fb5081e13723aa1d7c234bddc254/com.vinszent.GnomeTwitch.json#L44

But if I launch it on my PC, it says 0.4.1:
[code]
and the about of the App says '0.4.1' too:
![image](https://user-images.githubusercontent.com/9893834

[2019-09-07 03:38] A-UNDERSCORE-D commented on #349
Ive had this issue as well on ubuntu 18.04, on mpv backends it shows buffering and audio cuts out around the same time as it would on gstreamer-opengl. I get the feeling its something to do with twitch low latency stuff. Though it could also be something about my configuration

[2019-09-08 21:56] TingPing commented on #388
Its up to date: https://github.com/flathub/com.vinszent.GnomeTwitch/blob/master/com.vinszent.GnomeTwitch.json#L44

I think the release just had the wrong version number or such.

[2019-10-21 17:52] protoniogg opened #389 "Login"
Hi,
I can't login with my account, there is no login option. I'm on ubuntu with gnome but there isn't the login option in the bar nor the twitch icon in the top bar of the application to login. Strange thing: I installed from the appstore and building it myself but when I start the application throw terminal it says I'm using version 0.4.1. I tried with the snap version but same result.

[2019-10-23 14:17] Grasfer commented on #389
I got the same problem, Ubuntu 19.10 on two different computers. In Manjaro XFCE i can see the hamburger menu.

[2019-10-27 04:27] mrpeabody commented on #389
Works well on Arch, but for some reason login is broken on Ubuntu 19.10

[2019-10-29 04:17] ironhaven commented on #389
Same issue but on Ubuntu 18.04.3

[2019-11-01 08:51] robertpfeiffer commented on #389
I have the same issue, but it's only a an issue in conjunction with Ubuntu Gnome Shell. It works when I start it under XFCE. Taking the login menu out of the window decoration or adding a keyboard shortcut would probably help.

[2019-11-05 08:26] TheFrenchGhosty opened #390 "Infinite loading/Crash with the Git version"
Every time I open a stream with the git version (using the Arch package), I'm getting a infinite loading (only the chat load), or a crash ``Segmentation fault (core dumped)``

Tested with the MPV-OpenGL, the GStreamer-OpenGL and the GStreamer-Clutter backend.

I tried to remove ```~/.local/share/gnome-twitch/channel_settings.json``` and ```~/.config/dconf/user``` but the problem is still here.

Th

[2019-11-08 22:10] Flavelius opened #391 "Crash on loading stream"
The player just crashes silently. Using --log-level=debug i was able to see this message:

{GtTwitch:336} Received unsuccessful response from url 'https://api.twitch.tv/api/channels/somechannel/access_token' with code '410' and body '{"error":"Gone","status":410,"message":"this API has been removed."}'

Looks like it's using an outdated api, as confirmed by another similar message returned from th

[2019-11-09 00:28] tilda commented on #391
Confirmed, version 0.4.1

[2019-11-09 00:30] ironhaven commented on #391
Same issue here

According to [this page](https://dev.twitch.tv/docs/product-lifecycle#product-lifecycle) the v3 API has been decommissioned since September 13. That means it was no longer supported for actual use. Twitch has finally pulled the plug on an important endpoint today it seems.

API v5 is sill live but it is deprecated so it may not be around forever. This app needs to migrate to somet

[2019-11-09 00:33] tilda commented on #391
If anything, the best solution we have right now is using the Twitch website to find streams, then using chatterino for chat and mpv for viewing the stream.

[2019-11-09 06:57] Flavelius commented on #391
Streamlink(/-twitch-gui) has the same problem (https://github.com/streamlink/streamlink/issues/2680), their temporary solution suggestion is to use the website's oauth token or client id.

[2019-11-14 03:46] JRansomed commented on #391
Does anyone know if this is considered dead now?

[2019-11-14 15:41] tilda commented on #391
Development on this has certainly stopped. As for the issue being solved, I highly doubt it. It seems that the API works one day but not the other.

[2019-11-14 19:55] vinszent commented on #391
Yeah, I am no longer working on this project. Twitch has been working on the "new" Helix API for years and it still, to this date, doesn't even have half of the functionality of V5. But at the same time they say V5 is deprecated and can be turned off any day. Basically I just got too burnt out with Twitch constantly going back and forth on their APIs meaning that all the work I put into GNOME Twit

[2019-11-30 14:23] MarkoShiva commented on #390
the arch relase package do not load streams for me. it gives an error:

[code]

I guess  that developer just forgot to add an API key?

[2019-12-18 14:07] HumanG33k opened #392 "Error on load"
Error on the GUI :

Unable to fetch all followed channels with id '114799533' and oauth token '[mytoken]' because: A followed stream did not exist as a followed channel

on debian look like leads to infinite load of the follow channel.

Logs on terminal. (I remove token and user name)
[code]

[2019-12-18 14:13] HumanG33k commented on #309
I just do an up. Because i use IRC to follow all the time some channels and i want to pop some gnome twitch channel when some messages occurs.

[2020-01-02 08:59] LapotinVal opened #393 "Twitch flatpak crash on start stream"
bash-5.0$ flatpak run com.vinszent.GnomeTwitch
Gtk-Message: 11:54:39.327: Failed to load module "pk-gtk-module"
Gtk-Message: 11:54:39.329: Failed to load module "pk-gtk-module"
[08:54:39] Message - GNOME-Twitch : {GtApp:370} Startup, running version '0.4.1'
[08:54:39] Message - GNOME-Twitch : {GtFollowsManager:254} Follows file at '/home/valera/.var/app/com.vinszent.GnomeTwitch/data/gnome-twitch/f

[2020-01-03 15:31] ToRvaLDz commented on #393
Same here:

[2020-01-08 16:40] code418 commented on #393
There have been some breaking changes to the Twitch API which have caused this issue.

See https://github.com/streamlink/streamlink/issues/2680 for further details and attempted workaround

[2020-01-13 21:33] Quix0r commented on #391
So is there any easy-to-use replacement available? Sad to see that companies want to keep out FLOSS alternatives ...

[2020-01-14 01:18] tilda commented on #391
@Quix0r I've been using Chatterino and streamlink (I believe they patched it to use Twitch's API key) recently. Not the integrated experience like gnome-twitch, but works well enough

[2020-01-14 18:43] Quix0r commented on #391
Maybe someone can put up a script around both tools and pastebin it somewhere and link it here? @tilda

[2020-01-14 18:55] Quix0r commented on #391
Okay, `streamlink` was relatively easy:

`$ streamlink --twitch-disable-ads --twitch-oauth-authenticate`

and then:

`$ streamlink --twitch-disable-ads https://www.twitch.tv/<user>`

to check for video formats and then choose one like:

`$ streamlink --twitch-disable-ads https://www.twitch.tv/<user> 1080p60`

But how about chat?

[2020-01-14 19:01] Quix0r commented on #391
It also works with archived video links:
`$ streamlink --twitch-disable-ads https://www.twitch.tv/videos/535501081 1080p`

Very nice!

[2020-01-14 20:33] tilda commented on #391
Chat is what Chatterino is used for.

[2020-01-30 06:44] Kekun commented on #393
Some issue, here is the end of my backtrace:
[code]

[2020-02-03 21:53] Quix0r commented on #391
Is there somewhere a complete tutorial? The learning curve here seem to be very steep compared to gnome-twitch's easiness was. And yes, I know Linux for almost 20 years.

[2020-02-16 07:01] #391 closed, assigned to nobody

[2020-02-19 22:49] Stapleton opened #395 "Twitch API Changes"
I am hoping to draw some attention to this.
I don't have any knowledge in C++, but I do know the problem of why the app is currently useless.
My solution will solve #393, #390, and any other issues having to do with authentication.

Twitch has been in the process of API changes for the past 3 years. From deprecating and removing v3 on September 12th, 2019. Deprecating v5 in November of 2018, and t

[2020-03-24 18:21] janagyjr commented on #379
no longer interested

[2020-03-24 18:21] #379 closed

[2020-04-04 15:18] tyrie592 opened #396 "twitch unable to show follows"

[2020-04-04 15:19] tyrie592 commented on #396
Gives this description:

Unable to fetch all followed channels because: Unable to read JSON member with name '_total' because: The member “_total” is not defined in the object at the current position.

[2020-04-09 19:15] andrei-belkin commented on #396
I second this.

Whenever I launch the Gnome Twitch application, log into my account and go to the "Follows" tab, I see a red bar that says

![GnomeTwitchUnableToFetchFollows](https://user-images.githubusercontent.com/59848424/78931455-80552180-7a95-11ea-95d0-0d75197da136.png)

When I click on "Details", a windows pops up, where I see the following text (as seen on the screenshot below):

![GnomeTw

[2020-04-14 19:15] brentlintner commented on #389
Still an issue FWIW. Probably due to gnome ripping out top app menu support. Not sure if this supports the [fallback UI](https://blogs.gnome.org/aday/2018/10/09/farewell-application-menus/) that should show the menu. Will try another DE to use the button in the meantime.

Thanks for the awesome software!

[2020-04-17 20:13] blackmirroxx commented on #393
^^ same on gentoo

[2020-04-27 13:54] tvanriper commented on #396
I have the same problem (same results on screenshots, etc).  Running version 0.4.1 on Manjaro Linux.

[2020-04-28 20:15] hugot commented on #396
Same problem here, running 0.4.1 from flathub on elementary OS 5.1.3 Hera

[2020-04-29 22:43] fitojb commented on #396
This app appears to be abandonware now.

[2020-05-04 20:29] PHLAK commented on #389
This appears to be an issue on Ubuntu 20.04 as well.

![Screenshot 2020-05-04 13:26:22](https://user-images.githubusercontent.com/53531/81010306-eae64c80-8e0a-11ea-9dcb-1c5e39aa42fd.png)

[2020-05-07 13:52] dinhokusanagi commented on #396
abandoned application

[2020-05-07 15:17] traplens opened #397 "Crash when click on each stream"
Crash when click on each stream
[code]
` OS: Manjaro Linux x86_64
█   Kernel: 5.4.36-1-MANJARO
█   Uptime: 25 mins
█   Packages: 1727 (pacman), 8 (flatpak), 2 (snap)
█   Shell: bash 5.0.16
█   Resolution: 3840x2160
█   DE: GNOME
█   WM: Mutter
█   WM Theme: Matcha-sea
█   Theme: Matcha-sea [GTK2/3]
█   Icons: Papirus-Maia [GTK2/3]
█   Terminal: gnome-terminal
█   CPU: AMD Ryzen 5 3600 (12) @ 3.950

[2020-05-19 18:07] ecmo commented on #397
Confirmed on POP_OS 19.10.  Appears API was removed.

gnome-twitch
Gtk-Message: 13:59:47.118: Failed to load module "appmenu-gtk-module"
[17:59:47] Message - GNOME-Twitch : {GtApp:370} Startup, running version '0.4.1'
[17:59:47] Message - GNOME-Twitch : {GtFollowsManager:254} Follows file at '/home/mpaden/.local/share/gnome-twitch/followed-channels.json' doesn't exist
[17:59:47] Message - GNOME-Tw

[2020-05-21 12:08] beucismis opened #398 "Error performing TLS handshake"
Hi, I encountered this error while trying to log into my account.
GNOME Twitch version: `0.4.1`

![Ekran görüntüsü_2020-05-21_15-00-52](https://user-images.githubusercontent.com/40023234/82557641-c0b7bd00-9b74-11ea-979e-e99609662b2e.png)

[2020-05-29 20:46] esa1975 commented on #397
Confirmed on Manjaro GNOME.

[20:44:28] Warning - GNOME-Twitch : {GtTwitch:593} Error getting stream access token for channel 'evelone192' because: Received unsuccessful response from url 'https://api.twitch.tv/api/channels/evelone192/access_token' with code '410' and body '{"error":"Gone","status":410,"message":"this API has been removed."}'
Segmentation fault (core dumped)

[2020-06-03 11:19] yleckel opened #399 "Crash + Follows"
When I click on a stream the whole program crash.
When I login the program is not able to find my followed channels.

[2020-06-03 11:24] yleckel commented on #399
Follower error:

Unable to fetch all followed channels because: Unable to read JSON member with name '_total' because: The member “_total” is not defined in the object at the current position.

[2020-06-18 15:26] gpicchiarelli opened #400 "[segfault] Gnome-Twitch crash when trying to play a stream."
Version 0.4.1

**Errore di segmentazione** means **_segmentation fault_**.

After trying to search follows and trying to play the stream found.
[code]
Smoke Test [click on a random stream]

[code]

[2020-06-28 09:39] leyouki commented on #400
same here (0.4.1). Looks like the twitch API changed since last release of gnome-twitch.
`"error":"Gone","status":410,"message":"this API has been removed."`

[2020-07-20 16:32] YaLTeR commented on #393
Full backtrace with debug symbols if it helps:
[code]

[2020-08-14 09:08] vonschutter opened #401 "fails to fetch my follows."
Unable to fetch all followed channels because: Unable to read JSON member with name '_total' because: The member “_total” is not defined in the object at the current position.

Logged in OK though...

[2020-08-14 09:10] vonschutter commented on #401
All I did was install the app and run it an log in. Tried restarting. Using the latest Pop OS by System 76. No issues login in and using the web site.

[2020-08-18 07:50] kuator opened #402 "Is the project dead?"
Is the project dead?

[2020-08-20 00:00] TingPing commented on #402
It is not maintained atm.

[2020-08-21 11:27] vincenzoromeo commented on #400
Yep, this is a major bug. The backend API has changed and the source code has not been changed to reflect this, hence the 410 from the remote server.

This is a serious deal breaker for the app, unfortunately. And poor form the Twitch devs - they provide the slightest indication that the API has been removed _but no remediation instructions_! C'mon, a URL to the bloody new API docs would've been a

[2020-08-21 19:16] vinszent commented on #402
Currently not being actively worked on.

[2020-08-26 22:39] Njegosh opened #403 "Unable to fetch your Twitch follows"
Got this message today:
`Unable to fetch all followed channels because: Unable to read JSON member with name '_total' because: The member “_total” is not defined in the object at the current position.`

Using the Flatpak package.

[2020-09-05 17:32] NerdistRay opened #404 "Bug in running gnome-twitch after I installed player backends"
I use Manjaro so I installed gnome-twitch-git using aur repositories. It ran fine but later when I had to install player backend, and come around to using it, it always shows "Something went wrong: Unable to open VOD." When I click on details it shows:

`Unable to update oauth info because: Unable to read JSON member with name 'user_id' because: The member “user_id” is not defined in the object at

[2020-09-07 16:28] ski-freak commented on #403
Same, also crashes when loading a stream.
Please help

[2020-09-08 10:17] Njegosh commented on #403
I have only recently seen this https://github.com/vinszent/gnome-twitch/issues/402 so I do not expect a fix or help any time soon

[2020-09-12 15:06] ski-freak commented on #403
I think this project was discontinued because of the twitch api stuff.

[2020-10-04 12:24] ghost commented on #402
Vinszent you should get in contact with the Twire team, they have extensive experience with updating the twitch API to the latest version in their app. I'm pretty certain that the majority of issues with the application currently come from that being 2-3 iterations behind.

[2020-11-07 13:23] olback commented on #404
@NerdistRay this project uses the old deprecated Twitch API which causes the errors. I have started working on a new GTK Twitch player. The basics work but it's far from done. [olback/gnome-twitch-2](https://github.com/olback/gnome-twitch-2).

[2020-12-06 16:13] ralf1307 commented on #402
If Im finished with some (major) parts of my personal project (involving a youtube-app (aka im going to use some of the gstreamer code in here ;) )), Im going to look into this project.
At first glance it should be easy to use Libhandy. Of course the API is currently the bigger problem.

[2021-02-22 13:13] vonschutter commented on #403
YEP Same here: Unable to fetch all followed channels because: Unable to read JSON member with name '_total' because: The member “_total” is not defined in the object at the current position.

[2021-04-24 05:11] NOVATechnocrat opened #406 "New Twitch app for Linux"
I wouldn't normally do this but since this project is dead, I've decided to wrap twitch.tv in an Electron wrapper and hijack this repo. This gives us the ability to run a full-featured Twitch instance in our DE. I'll properly integrate it in Gnome, package Flatpak/Appimage etc if there is any interest. Please let me know your thoughts.

The app is ~100 MB because "Electron". It works great though

[2021-05-22 12:15] #368 closed

[2021-05-24 18:31] FirminMoyen commented on #401
I run into the same issue, and i'm also on popos 20.10

[2021-06-21 17:14] #16 closed

[2021-09-24 11:14] KaKi87 commented on #402
We have Twire on Android, ZTwitch on Windows, but no working unofficial client on Linux ? :/

[2022-01-20 01:50] #363 closed

[2022-02-05 23:02] #159 closed

[2022-03-09 09:02] hemebond commented on #402
@vinszent Will PRs be considered/reviewed?

[2022-03-09 09:18] KaKi87 commented on #402
I think you should fork and let yours become the main repo.